 {include file="public/header"}
            <!--sidebar start-->
            {include file="public/sidebar"}
            <!--sidebar end-->

            <!--main content start-->
 <div id="content" class="ui-content ui-content-compact">
     <div class="ui-content-body">
         <div class="row">
             <div class="col-sm-12">
                 <section class="panel">
                     <header class="panel-heading">
                         菜单列表
                         <span class="tools pull-right">
                             <a class="refresh-box fa fa-repeat" href="javascript:;"></a>
                             <a class="collapse-box fa fa-chevron-down" href="javascript:;"></a>
                             <a class="close-box fa fa-times" href="javascript:;"></a>
                         </span>
                     </header>
                     <div class="panel-body">
                         <table class="table  table-hover general-table">
                             <thead>
                             <tr>
                                 <th> Company</th>
                                 <th class="hidden-phone">Descrition</th>
                                 <th>Profit</th>
                                 <th>Status</th>
                             </tr>
                             </thead>
                             <tbody>
                             <tr>
                                 <td><a href="#">Graphics</a></td>
                                 <td class="hidden-phone">Lorem Ipsum dorolo imit</td>
                                 <td>1320.00$ </td>
                                 <td><span class="label label-info label-mini">Due</span></td>
                             </tr>
                             <tr>
                                 <td>
                                     <a href="#">
                                         ThemeBucket
                                     </a>
                                 </td>
                                 <td class="hidden-phone">Lorem Ipsum dorolo</td>
                                 <td>556.00$ </td>
                                 <td><span class="label label-warning label-mini">Due</span></td>
                             </tr>
                             <tr>
                                 <td>
                                     <a href="#">
                                         XYZ
                                     </a>
                                 </td>
                                 <td class="hidden-phone">Lorem Ipsum dorolo</td>
                                 <td>13240.00$ </td>
                                 <td><span class="label label-success label-mini">Paid</span></td>
                             </tr>
                             <tr>
                                 <td>
                                     <a href="#">
                                         BCSE
                                     </a>
                                 </td>
                                 <td class="hidden-phone">Lorem Ipsum dorolo</td>
                                 <td>3455.50$ </td>
                                 <td><span class="label label-danger label-mini">Paid</span></td>
                             </tr>
                             <tr>
                                 <td><a href="#">AVC Ltd</a></td>
                                 <td class="hidden-phone">Lorem Ipsum dorolo imit</td>
                                 <td>110.00$ </td>
                                 <td><span class="label label-primary label-mini">Due</span></td>
                             </tr>
                             <tr>
                                 <td>
                                     <a href="#">
                                         Themeforest
                                     </a>
                                 </td>
                                 <td class="hidden-phone">Lorem Ipsum dorolo</td>
                                 <td>456.00$ </td>
                                 <td><span class="label label-warning label-mini">Due</span></td>
                             </tr>
                             </tbody>
                         </table>
                     </div>
                 </section>
             </div>
         </div>
     </div>
 </div>
            <!--main content end-->
 {include file="public/footer"}
