<!--footer start-->
<div id="footer" class="ui-footer">
    2017 &copy; MegaDin by ThemeBucket.
</div>
<!--footer end-->
</div>

<!-- inject:js -->
<script src="__PUBLIC__/bower_components/jquery/dist/jquery.min.js"></script>
<script src="__PUBLIC__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/bower_components/jquery.nicescroll/dist/jquery.nicescroll.min.js"></script>
<script src="__PUBLIC__/bower_components/autosize/dist/autosize.min.js"></script>
<!-- endinject -->
<!-- Common Script   -->
<script src="__PUBLIC__/dist/js/main.js"></script>

<!--highcharts-->
<script src="__PUBLIC__/bower_components/highcharts/highcharts.js"></script>
<script src="__PUBLIC__/bower_components/highcharts/highcharts-more.js"></script>
<script src="__PUBLIC__/bower_components/highcharts/modules/exporting.js"></script>


<!--Data Table-->
<script src="__PUBLIC__/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="__PUBLIC__/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
<script src="__PUBLIC__/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="__PUBLIC__/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
<script src="__PUBLIC__/bower_components/datatables-responsive/js/dataTables.responsive.js"></script>
<script src="__PUBLIC__/bower_components/datatables-scroller/js/dataTables.scroller.js"></script>

<!--init data tables-->
<script src="__PUBLIC__/assets/js/init-datatables.js"></script>



<!--sparkline-->
<script src="__PUBLIC__/bower_components/bower-jquery-sparkline/dist/jquery.sparkline.retina.js"></script>
<script src="__PUBLIC__/assets/js/init-sparkline.js"></script>

<!--echarts-->
<script type="text/javascript" src="__PUBLIC__/assets/js/echarts/echarts-all-3.js"></script>

<!--easypiechart-->
<script src="__PUBLIC__/assets/js/jquery-easy-pie-chart/jquery.easypiechart.js"></script>
<script>
    $(function() {
        $('.chart').easyPieChart({
            //your configuration goes here
        });
    });
</script>

<!--horizontal-timeline-->
<script src="__PUBLIC__/assets/js/horizontal-timeline/js/jquery.mobile.custom.min.js"></script>
<script src="__PUBLIC__/assets/js/horizontal-timeline/js/main.js"></script>



<!-- Common Script   -->
<script src="__PUBLIC__/dist/js/main.js"></script>
</body>
</html>