<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="shortcut icon" type="image/png" href="/imgs/favicon.png" /> -->
    <title>Home</title>


    <!--layui-->
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui-v2.5.6/css/layui.css" />
    <script src="https://www.layuicdn.com/layui-v2.5.6/layui.js"></script>

    <!--easypiechart-->
    <link rel="stylesheet" href="__PUBLIC__/assets/js/jquery-easy-pie-chart/easypiechart.css">
    
    <!-- inject:css -->
    <link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/bower_components/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="__PUBLIC__/bower_components/weather-icons/css/weather-icons.min.css">
    <link rel="stylesheet" href="__PUBLIC__/bower_components/themify-icons/css/themify-icons.css">
    <!-- endinject -->

    <!-- Select2 Dependencies -->
    <link rel="stylesheet" href="__PUBLIC__/bower_components/select2/dist/css/select2.min.css">

    <!-- Touch Spin Dependencies -->
    <link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css">

    <!-- Input mask Dependencies -->
    <link rel="stylesheet" href="__PUBLIC__/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css">

    <!-- Switchery Dependencies -->
    <!-- iOS 7 style switches for your checkboxes  -->
    <link rel="stylesheet" href="__PUBLIC__/bower_components/switchery/dist/switchery.min.css">

    <!-- Bootstrap Date Range Picker Dependencies -->
    <link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap-daterangepicker/daterangepicker.css">

    <!-- Bootstrap DatePicker Dependencies -->
    <link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css">

    <!-- Bootstrap TimePicker Dependencies -->
    <link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap-timepicker/css/bootstrap-timepicker.min.css">

    <!-- Bootstrap ColorPicker Dependencies -->
    <link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">

    <!-- Main Style  -->
    <link rel="stylesheet" href="__PUBLIC__/dist/css/main.css">

    <!--Data Table-->
    <link href="__PUBLIC__/bower_components/datatables/media/css/jquery.dataTables.css" rel="stylesheet">
    <link href="__PUBLIC__/bower_components/datatables-tabletools/css/dataTables.tableTools.css" rel="stylesheet">
    <link href="__PUBLIC__/bower_components/datatables-colvis/css/dataTables.colVis.css" rel="stylesheet">
    <link href="__PUBLIC__/bower_components/datatables-responsive/css/responsive.dataTables.scss" rel="stylesheet">
    <link href="__PUBLIC__/bower_components/datatables-scroller/css/scroller.dataTables.scss" rel="stylesheet">

    <!-- Rickshaw Chart Depencencies -->
    <link rel="stylesheet" href="__PUBLIC__/bower_components/rickshaw/rickshaw.min.css">

    <!--horizontal-timeline-->
    <link rel="stylesheet" href="__PUBLIC__/assets/js/horizontal-timeline/css/style.css">

    <!-- Rickshaw Chart Depencencies -->
    <link rel="stylesheet" href="__PUBLIC__/bower_components/rickshaw/rickshaw.min.css">

    <script src="__PUBLIC__/assets/js/modernizr-custom.js"></script>

</head>
<body>

