<div id="headerWrap">
    <div id="header">
        <div id="util_wrap">
            <a href="{{:url('index')}}"><img src="__HOME_SC__/images/img_logo.jpg" alt="" /></a>
            <div id="util" class="navright">
                <ul class="quick_menu">
                    <li><a href="{{:url('service')}}">关于天众</a></li>
                    <li><a href="{{:url('pfcexpress')}}" class="nav_xline">进口服务</a>
                        <ul>
                            <li><a href="{{:url('mail')}}">直邮进口</a></li>
                            <li><a href="{{:url('bonded')}}">保税进口</a></li>
                            <li><a href="{{:url('express')}}">快件个人物品</a></li>
                            <li><a href="{{:url('email')}}">邮件个人物品</a></li>
                        </ul>
                    </li>
                    <li><a href="{{:url('exitC')}}" class="nav_xline">出口服务</a>
                        <ul>
                            <li><a href="{{:url('exit_one')}}">欧美快线</a></li>
                            <li><a href="{{:url('exit_two')}}">欧美专线</a></li>
                            <li><a href="{{:url('exit_three')}}">铁路小包</a></li>
                        </ul>
                    </li>
                    <li><a href="http://erpexport.mttlm.com/purchasing/base/login.html" target="_blank">在线下单</a></li>
                    <li><a href="{{:url('query')}}" class="nav_xline">包裹查询</a></li>
                    <li><a href="{{:url('pricequery')}}">运费查询</a></li>
                    <li><a href="{{:url('cloud')}}">云仓简介</a></li>
                </ul>
            </div>
            <ul class="conn_language">
                <li><img src="__HOME_SC__/images/linkmap.jpg"></li>
                <li><a href="{{:url('index')}}"><img src="__HOME_SC__/images/linkdot2.jpg" align="middle" onmouseover="this.src='__HOME_SC__/images/linkdot1-2.jpg'" onmouseout="this.src='__HOME_SC__/images/linkdot2.jpg'"></a></li>
                <li><a href="#"><img src="__HOME_SC__/images/linkdot1.png" align="middle" onmouseover="this.src='__HOME_SC__/images/linkdot1-1.jpg'" onmouseout="this.src='__HOME_SC__/images/linkdot1.png'"></a></li>
                <!--            <li><a href="javascript:void(0);"><img src="images/linkdot3.png" align="middle" onmouseover="this.src='images/linkdot1-3.jpg'" onmouseout="this.src='images/linkdot3.png'"></a></li>-->
                <div class="clear"></div>
            </ul>
        </div>
    </div>
</div>