{include file="public/header"}

<link rel="stylesheet" type="text/css" href="__HOME_SC__/css/theme.css">
<link href="__HOME_SC__/css/style.css" rel="stylesheet" type="text/css" />

<title>天众国际-合作渠道</title>
</head>
<body>

<div id="wrap" class="main">
  <div id="dvContainer">

      {include file="public/navbar"}<!--header结束-->
   
   <div class="bann">
     <img src="__HOME_SC__/images/ser02.jpg" width="100%" />
     
   </div>
   
    <div id="layerarea">
     <div class="cloud_warp">
    
<div class="container">
  
    <div class="suppbox">
      <div class="cha_title">
       <p>Product And Price</p>
       <h3>产品与价格</h3>
       <div class="cha_line"></div>
      </div>
      
      <div class="cha_threebox hidden-xs">
      <div class="cha_three row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <a href="{{:url('channel_xq')}}"><ul class="cha_thitem">
            <li><img src="__HOME_SC__/images/cha_i06.png" width="32" height="32" /><p class="cha_thif">法国</p></li>
            <li><img src="__HOME_SC__/images/cha_jian.png" class="cha_thir" /></li>
            <li><img src="__HOME_SC__/images/cha_i02.png" width="32" height="32" /><p class="cha_thif">中国</p></li>
            <div class="clear"></div>
          </ul></a>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-4">
          <ul class="cha_thitem">
            <div class="cha_thitem2"></div>
            <li><img src="__HOME_SC__/images/cha_i08.png" width="32" height="32" /><p class="cha_thif">澳洲</p></li>
            <li><img src="__HOME_SC__/images/cha_jian.png" class="cha_thir" /></li>
            <li><img src="__HOME_SC__/images/cha_i02.png" width="32" height="32" /><p class="cha_thif">中国</p></li>
            <div class="clear"></div>
          </ul>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-4">
          <ul class="cha_thitem">
            <div class="cha_thitem2"></div>
            <li><img src="__HOME_SC__/images/cha_i04.png" width="32" height="32" /><p class="cha_thif">韩国</p></li>
            <li><img src="__HOME_SC__/images/cha_jian.png" class="cha_thir" /></li>
            <li><img src="__HOME_SC__/images/cha_i02.png" width="32" height="32" /><p class="cha_thif">中国</p></li>
            <div class="clear"></div>
          </ul>
        </div>
        
      </div>
        
      <div class="cha_three row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <ul class="cha_thitem">
            <div class="cha_thitem2"></div>
            <li><img src="__HOME_SC__/images/cha_i07.png" width="32" height="32" /><p class="cha_thif">加拿大</p></li>
            <li><img src="__HOME_SC__/images/cha_jian.png" class="cha_thir" /></li>
            <li><img src="__HOME_SC__/images/cha_i02.png" width="32" height="32" /><p class="cha_thif">中国</p></li>
            <div class="clear"></div>
          </ul>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-4">
          <ul class="cha_thitem">
            <div class="cha_thitem2"></div>
            <li><img src="__HOME_SC__/images/cha_i01.png" width="32" height="32" /><p class="cha_thif">日本</p></li>
            <li><img src="__HOME_SC__/images/cha_jian.png" class="cha_thir" /></li>
            <li><img src="__HOME_SC__/images/cha_i02.png" width="32" height="32" /><p class="cha_thif">中国</p></li>
            <div class="clear"></div>
          </ul>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-4">
          <ul class="cha_thitem">
            <div class="cha_thitem2"></div>
            <li><img src="__HOME_SC__/images/cha_i03.png" width="32" height="32" /><p class="cha_thif">美国</p></li>
            <li><img src="__HOME_SC__/images/cha_jian.png" class="cha_thir" /></li>
            <li><img src="__HOME_SC__/images/cha_i02.png" width="32" height="32" /><p class="cha_thif">中国</p></li>
            <div class="clear"></div>
          </ul>
        </div>
        
      </div>
      <div class="clear"></div>
      </div>
      
      <a href="{{:url('channel_xq')}}" class="cha_tmore">查看详情</a></div>
      
    <div class="suppbox2">
     <div class="cha_title">
       <p>Shopping Guide</p>
       <h3>海淘购物教程</h3>
       <div class="cha_line"></div>
     </div>
     
     <div class="row cha_two">
       <div class="col-lg-4 col-md-4 col-sm-4">
         <div class="row">
           <div class="col-lg-7 col-md-7 col-sm-7">
             <div class="cha_left">
               <h4>Step1 注册</h4>
               <p>注册天众国际账号，获取购物网站所在国家相应仓库收货地址；</p>
            </div>
           </div>
           <div class="col-lg-5 col-md-5 col-sm-5 cha_pic"><img src="__HOME_SC__/images/cha01.png" width="100%" /></div>
         </div>
       </div>
       
       <div class="col-lg-4 col-md-4 col-sm-4">
         <div class="row">
           <div class="col-lg-7 col-md-7 col-sm-7">
             <div class="cha_left">
               <h4>Step2 购物</h4>
               <p>国外购物网站下单，填写天众国际海外仓地址为收货地址；</p>
             </div>
           </div>
           <div class="col-lg-5 col-md-5 col-sm-5 cha_pic"><img src="__HOME_SC__/images/cha02.png" width="100%" /></div>
         </div>
       </div>
       
       <div class="col-lg-4 col-md-4 col-sm-4">
         <div class="row">
           <div class="col-lg-7 col-md-7 col-sm-7">
             <div class="cha_left">
              <h4>Step3 转运</h4>
              <p>卖家发货后，前往天众国际预报支付转运费坐等收货！</p>
             </div>
           </div>
           <div class="col-lg-5 col-md-5 col-sm-5 cha_pic"><img src="__HOME_SC__/images/cha03.png" width="100%" /></div>
         </div>
       </div>
 
     </div>

    </div>
      
    <div class="suppbox2 channelbox">
     <div class="cha_title">
       <p>What We Do</p>
       <h3>我们的服务</h3>
       <div class="cha_line"></div>
     </div>
     
     <div class="sup_one">
       <p>天众——跨境电商综合服务平台</p>
       <div class="sup_oneit">
         <img src="__HOME_SC__/images/img1.jpg" class="sup_oimg" />
         <h4>税收折扣</h4>
         <p>公司设立免税仓库</p>
       </div>
       
       <div class="sup_oneit">
         <img src="__HOME_SC__/images/img2.jpg" class="sup_oimg" />
         <h4>关税补贴</h4>
         <p>普通商品1000元以内，天众国际全额关税补贴</p>
       </div>
       
       <div class="sup_oneit">
         <img src="__HOME_SC__/images/img3.jpg" class="sup_oimg" />
         <h4>更加优惠</h4>
         <p>公司设立免税仓库</p>
       </div>
       
       <div class="sup_oneit">
         <img src="__HOME_SC__/images/img4.jpg" class="sup_oimg" />
         <h4>时效更稳</h4>
         <p>无转仓费，快递直发</p>
       </div>
       
       <div class="sup_oneit">
         <img src="__HOME_SC__/images/img5.jpg" class="sup_oimg" />
         <h4>免费仓储</h4>
         <p>60天超长的免费仓储</p>
       </div>
       
       <div class="sup_oneit">
         <img src="__HOME_SC__/images/img6.jpg" class="sup_oimg" />
         <h4>货更安全</h4>
         <p>精细化管理，保证货品安全无忧</p>
       </div>
       
       <div class="sup_oneit">
         <img src="__HOME_SC__/images/img7.jpg" class="sup_oimg" />
         <h4>服务更佳</h4>
         <p>1对1中文客服，实时响应，保证服务质量</p>
       </div>
       <div class="clear"></div>
       
     </div>
      
    </div>
    
    
    
     
      
     </div>

       
       
      </div>


        {include file="public/footer"}
    </html>