{include file="public/header"}

<link rel="stylesheet" type="text/css" href="__HOME_SC__/css/theme.css">
<link href="__HOME_SC__/css/style.css" rel="stylesheet" type="text/css" />

<title>天众国际-合作渠道</title>
</head>
<body>

<div id="wrap" class="main">
  <div id="dvContainer">

      {include file="public/navbar"}<!--header结束-->
   
   <div class="bann">
     <img src="__HOME_SC__/images/ser02.jpg" width="100%" />
     
   </div>
   
    <div id="layerarea">
     <div class="cloud_warp">
    

   <div class="container">
     <div class="chxq_title">
       <ul>
         <li class="xqcheck"><a href="#">法国至中国大陆</a></li>
         <li><a href="#">日本至中国大陆</a></li>
         <li><a href="#">韩国至中国大陆</a></li>
         <li><a href="#">加拿大至中国大陆</a></li>
         <li><a href="#">澳洲至中国大陆</a></li>
         <li><a href="#">美国至中国大陆</a></li>
       </ul>
       <div class="clear"></div>
     </div>
     
     <div class="chxq_box">
       <img src="__HOME_SC__/images/chxq01.jpg" width="100%">
       <img src="__HOME_SC__/images/chxq02.jpg" width="100%">
       <img src="__HOME_SC__/images/chxq03.jpg" width="100%">
     </div>
     
   </div>


       
       
      </div>



        {include file="public/footer"}
        </html>