{include file="public/header"}
<link href="__HOME_SC__/css/style.css" rel="stylesheet" type="text/css" />
<title>天众国际-云仓简介</title>
</head>
<body>

<div id="wrap" class="main">
  <div id="dvContainer">

      {include file="public/navbar"}<!--header结束-->
   
   <div class="bann">
     <img src="__HOME_SC__/images/cloud.jpg" width="100%" />
     
   </div>
   
    <div id="layerarea">
     <div class="cloud_warp">
     
      <div class="network_twarp">
         <h3>云仓<span>简介</span></h3>
         <p>Introduction to cloud warehouse</p>
       </div>
       
       <div class="cloud_wone">
         <img src="__HOME_SC__/images/cloud01.png" />
         <div class="cloud_wofont">
           <p>天众云仓隶属于杭州天众供应链管理有限公司。<span>专注于第三方智能仓储供应链服务</span>。天众云仓始终以搭建“一站式全供应链互联仓储平台”为愿景，主张“互联网+物流”的创新模式，为国内外大中型企业提供智能一体化的仓储物流3PL服务，以解决一系列的仓储后顾之忧，促进整个电商产业链的优化。 主营业务涵盖<span>电商运营、仓储运营、物流运营、系统运营</span>等多个方面，融合国内一流快递等优质资源；集业界优秀互联网技术、仓配一体化、运营管理等专家为一体的核心团队；拥有成熟的精细仓库管理方案，领先的电商物流系统，保障了仓储、物流、配送的物流专业化、条码管理数字化、高性能自动化、软件集成化和仓配一体化管理。</p>
           <p>天众云仓这样的第三方仓储有效的帮助了公司解决库存共享与调拨等难题。同时降低了库存对于企业流动资金的压力。降低企业仓储成本，提高了物流时效性，减少了后半段物流不可控因素。大大提高了后端发货速度和销售服务质量。</p>
           <div class="cloud_fimg">
             <img src="__HOME_SC__/images/about_img_01.jpg" class="cloud_fimg1" />
             <img src="__HOME_SC__/images/about_img_02.jpg" class="cloud_fimg2" />
             <div class="clear"></div>
           </div>
           <h4 class="cloud_wfona">服务多样，满足您的需求,赶快<a href="http://erpexport.mttlm.com/purchasing/base/register.html" target="_blank">申请加入</a>我们吧!</h4>
         </div>
         
         
         
       </div>
       
      </div>


        {include file="public/footer"}
        </html>