{include file="public/header"}

<link rel="stylesheet" type="text/css" href="__HOME_SC__/css/theme.css">
<link href="__HOME_SC__/css/style.css" rel="stylesheet" type="text/css" />
<link href="__HOME_SC__/css/font-awesome.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__HOME_SC__/js/jquery-1.11.2.min.js"></script>
<title>天众国际-个性化定制服务</title>
</head>
<body>

<div id="wrap" class="main">
  <div id="dvContainer">

      {include file="public/navbar"}<!--header结束-->
   
   <div class="bann">
     <img src="__HOME_SC__/images/product/about.jpg" width="100%" />
     
   </div>
   
    <div id="layerarea">
		
     <div class="contact_box">
    
		 <div class="contact_box1">
		   <div class="contact_box1_l">
		     <div class="contact_btop"> 
			   <span>我们的使命</span>
			   <h3>创造价值</h3>
			   <p class="contact_btop_wen">我们致力于为政府、跨境电子商务企业和个人提供专业化、个性化及差异化的各类定制化系统物流、运营解决方案。</p> 
			 </div>

			 <div class="contact_bcenter"> 
			  <h5>如果您有业务定制需求，可直接来电咨询</h5>
			  <ul>
				<li><i class="fa fa-phone"></i>电话：0571-88890244</li>
				<li><i class="fa fa-fax"></i>邮箱：business@easytochina.net</li>
				<li><i class="fa fa-qq"></i>QQ：3507245604</li>  
				<li><i class="fa fa-globe"></i>网址：http://www.easytochina.net</li>
				<li><i class="fa fa-map-marker"></i>地址：杭州市西湖区文二西路1号元茂大厦1402 </li>  
			  </ul>	 
			 </div>
			 <div class="contact_bcenter"> 
			  <h5>客服工作时间</h5>
			  <p class="contact_btop_wen2">AM9:00 ~ PM17:30</p>
		    </div>
		   </div>
			 
		   <div class="contact_box1_r"><img src="__HOME_SC__/images/product/contact_img.png" width="100%"></div>
		   <div class="clear"></div> 
		 </div>
		 
		 <div class="contact_liuyan">
			 <div class="contact_btop"> 
			   <span>联系我们</span>
			   <h3>在线留言</h3>
			   <p class="contact_btop_wen">为加强客户与我们的合作，增加浏览用户提交合作意向的途径。我公司开通网上需求信息提交，您只需填写如下几个信息，谢谢合作！</p> 
			 </div>
			 <div class="messagewarp">
				<div class="messagewarp_item">
					<div class="messagewarp_item_l">
						<span class="font">姓名：<span class="fill">*</span></span>
						<input type="text" class="cinput" id="username" name="name">
					</div>
					<div class="messagewarp_item_r">
						<span class="font">手机：<span class="fill">*</span></span>
						<input type="text" class="cinput" id="tel" name="tel">
					</div>
					<div class="clear"></div>
				</div>
				
				<div class="messagewarp_item">
					<div class="messagewarp_item_l">
						<span class="font">邮箱：<span class="fill">*</span></span>
						<input type="text" class="cinput" id="e-mail" name="email">
					</div>
					<div class="messagewarp_item_r">
						<span class="font">传真：</span>
						<input type="text" class="cinput" id="fax" name="fax">
					</div>
					<div class="clear"></div>
				</div> 
				
				 <div class="messagewarp_item">
					<span class="font">内容：<span class="fill">*</span>  </span>
					<textarea name="content" cols="" rows="" id="content"></textarea>
				</div>


				<button class="messagewarp_tijiao" onclick="submitMessage()"><i class="fa fa-fw fa-paper-plane-o"></i>发送信息</button>

			</div>
		 </div>
     
    </div>
<script type ="text/javascript">
	function submitMessage(){

	    var name = $.trim($("input[name='name']").val());
	    var tel = $.trim($("input[name='tel']").val());
	    var email = $.trim($("input[name='email']").val());
	    var fax = $.trim($("input[name='fax']").val());
	    var content = $("#content").val();

	    if(name.length == 0){
	        alert('姓名不能为空');
	        return false;
		}
        if(tel.length == 0){
            alert('手机不能为空');
            return false;
        }
        if(email.length == 0){
            alert('邮箱不能为空');
            return false;
        }
        if (/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test(email) == false) {
            alert('邮箱格式不正确，请重新填写');
            return false;
        }
        if(content.length == 0){
            alert('内容不能为空');
            return false;
        }

        $.ajax({
            url: "{{:url('method/get_message')}}",
            type: 'post',
            data: {name:name,tel:tel,email:email,fax:fax,content:content},
            dataType: 'JSON',
            timeOut: 3000,
            complete: function () {
                //$("#nextstep").removeClass("disabled");
            },
            success: function (data) {
                if (data.code == 1) {
                    $("input[name='name']").val();
                    $("input[name='tel']").val();
                    $("input[name='email']").val();
                    $("input[name='fax']").val();
                    $("#content").html();
                    alert('提交成功，请等待客服回复！');
                    location.reload();
                }else{
                    alert(data.msg);
				}
            }
        });
	}


</script>

        {include file="public/footer"}
</html>