{include file="public/header"}
<link href="__PUBLIC__/home/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/theme.css">
    <title>天众国际-邮件个人物品</title>
</head>
<body>

<div id="wrap" class="main">
  <div id="dvContainer">

      {include file="public/navbar"}
    <!--header结束-->
    
    <div class="bann"><img src="__PUBLIC__/home/images/ser01.jpg" width="100%" /></div>

    <div id="layerarea">


<!--Main-->
<main class="main-container">

<div class="warpper">
<div class="ser hidden-xs">
  <ul class="ser_title ser_title2">
    <li><a href="{{:url('mail')}}">直邮进口</a></li>
    <li><a href="{{:url('bonded')}}">保税进口</a></li>
    <li><a href="{{:url('express')}}">快件个人物品</a></li>
    <li class="active mail_lastchild"><a href="{{:url('email')}}">邮件个人物品</a><i class="fa fa-angle-down ser_down3"></i></li>
  </ul>
</div>

<div class="service_liu visible-xs">
  <ul>
    <li><i class="fa fa-home"></i>首页</li>
    <li><i class="fa fa-angle-double-right"></i>我们的服务</i></li>
    <li class="service_lac"><i class="fa fa-angle-double-right"></i>邮件个人物品</li>
  </ul>
</div>  

<div class="mail">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-7">
        <div class="mail_main">
          <h4>邮件个人物品</h4>
          <p>从国外空运或陆运到EMS邮关场所，EMS自行在其监管场所以个人邮递物品的方式向海关申报进口。EMS的监管场所有海关入驻，统称为邮关。目前已开通法国专线；后期将开通韩国专线、澳洲专线、加拿大专线、日本专线、美国专线等。</p>
         <ul class="mail_top">
           <li>操作简单，海外代购人员安排EMS上门取件即可完成</li>
           <li>EMS不需寄件人提供身份证复印件以及购物小票</li>
         </ul>
          <ul class="mail_ul hidden-xs">
            <li>抽检率低</li>
            <li>正规清关</li>
            <li>灵活性强</li>
            <li>资金占用少</li>
            <li>品类限制少</li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 hidden-xs"><img src="__PUBLIC__/home/images/e01.png" width="100%" class="expic" /></div>
    </div>
  </div>
</div>

<div class="mail_two">
  <div class="container">
    <div class="mail_title">服务流程</div>
    <img src="__PUBLIC__/home/images/erp02.png" width="100%" class="hidden-xs" />
    <img src="__PUBLIC__/home/images/perp.png" width="100%" class="visible-xs" />
  </div>
</div>

</div>

</main>
<!--/Main-->


{include file="public/footer"}
      </html>