{include file="public/header"}

<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/theme.css">
<link href="__PUBLIC__/home/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/home/js/jquery-1.11.2.min.js"></script>
<title>天众国际-欧美专线</title>


</head>
<body>

<div id="wrap" class="main">
  <div id="dvContainer">
      {include file="public/navbar"}<!--header结束-->
    
    <div class="bann"><img src="__PUBLIC__/home/images/exit_banner.jpg" width="100%" /></div>

    <div id="layerarea">

<!-- Main -->
<main class="main-container">

 <div class="warpper">
<div class="ser hidden-xs">
  <ul class="ser_title ser_title3">       
    <li><a href="{{:url('exit_one')}}">欧美快线</a></li>
    <li class="active"><a href="{{:url('exit_two')}}">欧美专线</a><i class="fa fa-angle-down ser_down"></i></li>
    <li class="mail_lastchild"><a href="#">铁路小包</a></li>
    <div class="clear"></div>
  </ul>
</div> 

<div class="service_liu visible-xs">
  <ul>
    <li><i class="fa fa-home"></i>首页</li>
    <li><i class="fa fa-angle-double-right"></i>出口服务</li>
    <li class="service_lac"><i class="fa fa-angle-double-right"></i>欧美专线</li>
  </ul>
</div> 

<div class="exit_one_wrap">
	<div class="container">
	  <div class="exit_one_title">
		  <h4>欧美专线</h4>
		  <p>专线直飞目的国</p>
		  <p>无需二次清关&nbsp;&nbsp;时效快</p>
		  <p>无二次收费&nbsp;&nbsp;渠道稳定</p>
		  <p>全程点对点轨迹追踪</p>
		  <p>7天内妥投率高达90%以上</p>
	  </div>
	  <div class="exit_one_map"><img src="__PUBLIC__/home/images/product/map.gif" width="100%"></div>
	</div>	
</div>

<div class="exit_two_wrap">
	<div class="container">
	  <div class="exit_one_title">
		  <h4>我们的路线</h4>
	  </div>
	  <div class="row exit_two_main">
		  <div class="col-lg-3 col-md-3 col-sm-3">
			  <a href="{{:url('exit_two_xq')}}"><div class="exit_two_country">
			    <img src="__PUBLIC__/home/images/product/country1.jpg" width="58px">
				<span>英国专线</span>
				<p>5~9个工作日</p>
			  </div></a>
		  </div>
		  <div class="col-lg-3 col-md-3 col-sm-3">
			  <a href="#"><div class="exit_two_country">
			    <img src="__PUBLIC__/home/images/product/country5.jpg" width="58px">
				<span>意大利专线</span>
				<p>5~9个工作日</p>
			  </div></a>
		  </div>
		  <div class="col-lg-3 col-md-3 col-sm-3">
			  <a href="#"><div class="exit_two_country">
			    <img src="__PUBLIC__/home/images/product/country6.jpg" width="58px">
				<span>西班牙专线</span>
				<p>5~9个工作日</p>
			  </div></a>
		  </div>
		  <div class="col-lg-3 col-md-3 col-sm-3">
			  <a href="#"><div class="exit_two_country">
			    <img src="__PUBLIC__/home/images/product/country2.jpg" width="58px">
				<span>德国专线</span>
				<p>5~9个工作日</p>
			  </div></a>
		  </div>
		  <div class="col-lg-3 col-md-3 col-sm-3">
			  <a href="#"><div class="exit_two_country">
			    <img src="__PUBLIC__/home/images/product/country3.jpg" width="58px">
				<span>法国专线</span>
				<p>5~9个工作日</p>
			  </div></a>
		  </div>
		  <div class="col-lg-3 col-md-3 col-sm-3">
			  <a href="#"><div class="exit_two_country">
			    <img src="__PUBLIC__/home/images/product/country4.jpg" width="58px">
				<span>美国专线</span>
				<p>12~15个工作日</p>
			  </div></a>
		  </div>
		  <div class="col-lg-3 col-md-3 col-sm-3"><p class="exit_slue2">...</p></div>
	  </div>
	</div>	
</div>	 

<div class="exit_one_wrap">
	<div class="container">
	  <div class="exit_one_title">
		  <h4>操作流程</h4>
	  </div>
	  <div class="exit_one_map"><img src="__PUBLIC__/home/images/exit_liuc.png" width="100%"></div>
	</div>	
</div>
	 
</div>

</main>
<!-- /Main -->

        {include file="public/footer"}


</html><!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
</head>

<body>
</body>
</html>
