{include file="public/header"}
<link rel="stylesheet" type="text/css" href="__HOME_SC__/css/theme.css">
<link href="__HOME_SC__/css/style.css" rel="stylesheet" type="text/css" />
<title>天众国际-快件个人物品</title>
</head>
<body>

<div id="wrap" class="main">
  <div id="dvContainer">

      {include file="public/navbar"}
    
    <div class="bann"><img src="__HOME_SC__/images/ser01.jpg" width="100%" /></div>

    <div id="layerarea">


<!--Main-->
<main class="main-container">

<div class="warpper">
<div class="ser hidden-xs">
  <ul class="ser_title ser_title2">
    <li><a href="{{:url('mail')}}">直邮进口</a></li>
    <li><a href="{{:url('bonded')}}">保税进口</a></li>
    <li class="active"><a href="{{:url('express')}}">快件个人物品</a><i class="fa fa-angle-down ser_down2"></i></li>
    <li class="mail_lastchild"><a href="{{:url('email')}}">邮件个人物品</a></li>
  </ul>
</div>

<div class="service_liu visible-xs">
  <ul>
    <li><i class="fa fa-home"></i>首页</li>
    <li><i class="fa fa-angle-double-right"></i>我们的服务</i></li>
    <li class="service_lac"><i class="fa fa-angle-double-right"></i>快件个人物品</li>
  </ul>
</div>  

<div class="mail">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-7">
        <div class="mail_main">
          <h4>快件个人物品</h4>
            <p>快件从国外空运到杭州机场，以个人邮递物品的方式向海关申报进口。</p>
            <p>货物到达前提供身份证复印件跟购物小票复印件，无需向海关提供三单信息。</p>
            <p>交由第三方物流进行后续运输。</p>
         <ul class="mail_top">
           <li>渠道政策稳定</li>
           <li>身份证号码亦可操作</li>
           <li>税金有免征额度</li>
           <li>无需备案、三单对碰等</li>
         </ul>
          <ul class="mail_ul hidden-xs">
            <li>抽检率低</li>
            <li>正规清关</li>
            <li>灵活性强</li>
            <li>资金占用少</li>
            <li>品类限制少</li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 hidden-xs"><img src="__HOME_SC__/images/exp01.jpg" width="100%" class="expic" /></div>
    </div>
  </div>
</div>

<div class="mail_two">
  <div class="container">
    <div class="mail_title">服务流程</div>
    <img src="__HOME_SC__/images/erp02.png" width="100%" class="hidden-xs" />
    <img src="__HOME_SC__/images/perp.png" width="100%" class="visible-xs" />
  </div>
</div>
    <div class="mail_three">
        <div class="container">
            <div class="mail_title">服务优势</div>
            <div class="mail_thmain row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h4 class="mail_thmainl">更加<br />快捷</h4>
                    <div class="mail_thmainr">
                        <h5>当日清关、当日发货</h5>
                        <p>相比传统用户购物后直接从海外发货经过漫长的等待才能收到货品，天众服务能够在用户下单后当日进行清关并于当日集中发货，效率提高数倍，极大的提升用户体验及口碑。</p>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h4 class="mail_thmainl">更简<br />流程</h4>
                    <div class="mail_thmainr">
                        <h5>流程更简单清晰，操作方便，便于管控</h5>
                        <p>天众服务整体流程清晰简便，操作方便，且全程由天众相关人员进行效率、质量管控，完全不比传统的全程需要亲力亲为进行管理，且中间设计大量专业操作及管理，稍有不慎便容易出现差错，天众一站式服务让您全程无忧。</p>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h4 class="mail_thmainl">更快<br />清关</h4>
                    <div class="mail_thmainr">
                        <h5>全程电子清关，5分钟即可清关放行</h5>
                        <p>由于采用与海关系统直接对接的方式处理清关，且清关产品均已先期进行商品备案，故全程采用自动放行，相比以前的传统清关方式效率高出数倍，这也能够保证用户更快得到所购物品，极大提高用户体验。</p>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h4 class="mail_thmainl">规范<br />安全</h4>
                    <div class="mail_thmainr">
                        <h5>全程在海关新政策支持运行，规范安全</h5>
                        <p>以往跨境商品购物更多采用的是快递、包裹等方式进行，效率较低且限于报关方式，单一海关数量总体有限，且有相当比例采用冲关等非法方式入境，有法律风险且无法保证货品的有效通关时间，将整体风险转嫁于用户，不利发展。</p>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h4 class="mail_thmainl">全程<br />系统</h4>
                    <div class="mail_thmainr">
                        <h5>全程系统对接及跟踪，高效便于掌控行</h5>
                        <p>天众在提供高效低成本的进口服务的同时，开发了天众跨境电商综合服务平台，通过系统API接口可以实时的将订单指令、清关指令、备货指令等进行传输，且可以实时返回货品及订单状态，便于结算、对接、掌控。</p>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h4 class="mail_thmainl">更低<br />成本</h4>
                    <div class="mail_thmainr">
                        <h5>更低运费、更低操作费、更低清关费、更低派送费、更低税费</h5>
                        <p>相比以往通过一般贸易进口的方式，省却了关税及增值税，只交免税额外的行邮税，通过海外空运、中港车等运输方式亦可省却大部分运费，同时操作费及清关费均为最低。</p>
                    </div>
                    <div class="clear"></div>
                </div>


            </div>
        </div>
    </div>

    <div class="bonded_five">
        <div class="container">
            <div class="mail_title">常见问题</div>
            <div class="bonded_fivem">
                <h4>如何实行自动化清关？</h4>
                <p>天众跨境电商综合服务平台采用与海关系统直接对接的方式处理清关，且清关产品均已先期进行商品备案，故全程采用自动放行，相比以前的传统清关方式效率高出数倍，这也能够保证用户更快得到所购物品，极大提高用户体验。</p>
            </div>
            <div class="bonded_fivem">
                <h4>有哪些快递进行派送?</h4>
                <p>天众与多家国际、国内的知名快递商为多年合作伙伴关系，可根据企业的需求选择对应的快递服务商进行派送。</p>
            </div>

        </div>
    </div>
</div>

</main>
<!--/Main-->

{include file="public/footer"}
        </html>