{include file="public/header"}
<title>天众国际</title>
</head>
<body>

 <div id="wrap" class="main">
  <div id="dvContainer">

      {include file="public/navbar"}
   
    <div id="layerarea">
              <div id="container">
        <div id="contents"> 
                  
          <div class="slide_wrap">
              <ul class="slide">
                 <li><span class="hide"></span></li>
                 <li class="menu2"><span class="hide"></span></li>
                  <li class="menu3"><span class="hide"></span></li>
                  <li class="menu4"><span class="hide"></span></li>
              </ul>
          </div>
                  
                  <div class="slide2">
            <div class="slide_area">
                      <ul class="slide">
                <li> 
                  <a href="#">  
                    <img src="__HOME_SC__/images/img_main_slide_banner_20170601.jpg"/>
                    <div class="ind_one"> 
                      <h4>更快清关</h4>
                      <h3>全程电子清关，5分钟即可清关放行</h3>
                      <p>由于采用与海关系统直接对接的方式处理清关，且清关产品均已先期进行商品备案，故全程采用自动放行，相比以前的传统清关方式效率高出数倍。</p>
                    </div>
                  </a> 
                
                </li>
                <li>
                  <a href="#">
                    <img src="__HOME_SC__/images/img_main_slide_banner_20170713.jpg"/>
                    <div class="ind_one"> 
                      <h4>系统对接</h4>
                      <h3>全程系统对接及跟踪，高效便于掌控</h3>
                      <p>天众在提供高效低成本的进口服务的同时，开发了天众跨境电商综合服务平台，通过系统API接口可以实时的将订单指令、清关指令、备货指令等进行传输，且可以实时返回货品及订单状态，便于结算、对接、掌控。</p>
                    </div>
                  </a> 
                
                </li>
                <li>
                  <a href="#">
                    <img src="__HOME_SC__/images/img_main_slide_banner_20170623.jpg"/>
                    <div class="ind_one"> 
                      <h4>更低成本</h4>
                      <h3>低运费、低操作费、低清关费、低税费</h3>
                      <p>相比以往通过一般贸易进口的方式，省却了关税及增值税，只交免税额外的行邮税，通过海外空运、中港车等运输方式亦可省却大部分运费，同时操作费及清关费均为最低。</p>
                    </div>
                  </a> 
                
                </li>
              </ul>
                     
            </div>
            <!-- //slide_area --> 
          </div>
          
          <div class="widfix split_list_wrap">
            <ul class="split_list fade_menu banner1 more">
                <li> <a href="{{:url('service')}}" target="_blank" title=""> <span></span> <span class="over"></span> <i class="more"></i> </a> </li>
                <li> <a href="{{:url('contact')}}" target="_blank" title=""> <span></span> <span class="over"></span> <i class="more"></i> </a> </li>
             </ul>
          </div>
                  <div class="pension_slider" style="margin-top:120px;">
            <div class="slide3">
                      <div class="slide_area">
                <ul class="slide">
                          <li><a href="#"><img src="__HOME_SC__/images/img_main_slider_tab_01.jpg" /></a></li>
                          <li><a href="#"><img src="__HOME_SC__/images/img_main_slider_tab_02.jpg"  /></a></li>
                          <li><a href="#"><img src="__HOME_SC__/images/img_main_slider_tab_03.jpg" /></a></li>
                          <li><a href="#"><img src="__HOME_SC__/images/img_main_slider_tab_04.jpg"/></a></li>
                        </ul>
              </div>
                      <!-- //slide_area --> 
                    </div>
          </div>
                  <div class="widfix">
            <ul class="board_wrap">
                      <li>
                <dl>
                          <dt><img src="__HOME_SC__/images/banner_main3.jpg"/></dt>
                          <dd> <a href="#" class="btn_banner_more"><img src="__HOME_SC__/images/btn_detail.png"/></a></dd>
                        </dl>
              </li>
                      <li>
                <dl>
                          <dt><img src="__HOME_SC__/images/banner_main4.jpg" /></dt>
                          <dd> <a href="#"  class="btn_banner_more"><img src="__HOME_SC__/images/btn_detail.png" /></a> </dd>
                        </dl>
              </li>
                      <li>
                <div class="board_list">
                          <h2>新闻资讯</h2>
                          <a href="{{:url('newslist_2')}}" class="btn_more"><img src="__HOME_SC__/images/btn_submain_more.png" /></a>
                             <p class="ind_font3"><a href="{{:url('news_xq_2')}}">法国邮政：DPD今年将在英国投资2亿英镑建15个新仓库</a></p>
                             <p class="ind_font3"><a href="#">出口美国的清关流程和注意事项</a></p>
                             <p class="ind_font3"><a href="#">最新研究报告显示欧洲跨境B2C市场规模2022年翻番</a></p>
                           </div>
                <div class="board_list event">
                          <h2>行业知识</h2>
                            <a href="{{:url('newslist')}}" class="btn_more"><img src="__HOME_SC__/images/btn_submain_more.png"/></a>
                             <p class="ind_font3"><a href="{{:url('news_xq')}}">亚马逊热销产品如何找寻？打造产品要从哪里开始？</a></p>
                             <p class="ind_font3"><a href="#">亚马逊卖口罩被关店，卖家应该如何申诉？</a></p>
                             <p class="ind_font3"><a href="#">跨境电商怎么做产品关键词，掌握这5招产品关键词挑选技巧</a></p>
                          </div>
              </li>
                    </ul>
          </div>
          <div class="main_quick_wrap widfix split">
               <h2 class="title">
                 <p class="ind_font1">为什么选择天众国际</p>
                 <p class="ind_font2">天众国际整合国际运输、口岸清关等优势资源，为全球跨境电子商务企业、外贸出口企业提供安全、快速、便捷的一站式全程物流服务</p>
               </h2>
            <ul class="quick_menu col6">
                      <li><img src="__HOME_SC__/images/ico_menu_main1.png" alt="" /></li>
                      <li><img src="__HOME_SC__/images/ico_menu_main2.png" alt="" /></li>
                      <li><img src="__HOME_SC__/images/ico_menu_main3.png" alt="" /></li>
                      <li><img src="__HOME_SC__/images/ico_menu_main4.png" alt="" /></li>
                      <li><img src="__HOME_SC__/images/ico_menu_main5.png" alt="" /></li>
                      <li><img src="__HOME_SC__/images/ico_menu_main6.png" alt="" /></li>
                    </ul>
          </div>
                </div>
      </div>


{include file="public/footer"}
        </html>