{include file="public/header"}

<link rel="stylesheet" type="text/css" href="__HOME_SC__/css/theme.css">
<link href="__HOME_SC__/css/style.css" rel="stylesheet" type="text/css" />
    <title>天众国际-行业知识</title>
</head>
<body>

<div id="wrap" class="main">
  <div id="dvContainer">

      {include file="public/navbar"}<!--header结束-->
    
    <div class="bann"><img src="__HOME_SC__/images/news_img.jpg" width="100%" /></div>

    <div id="layerarea">

<!-- Main -->
<main class="main-container">

 <div class="warpper">
<div class="ser hidden-xs">
  <ul class="ser_title">       
    <li><a href="{{:url('newslist_2')}}">新闻资讯</a></li>
    <li class="active"><a href="{{:url('newslist')}}"><i class="fa fa-angle-down ser_down"></i>行业知识</a></li>
    <li class="mail_lastchild"><a href="#">常见问题</a></li>
    <div class="clear"></div>
  </ul>
</div> 

<div class="service_liu visible-xs">
  <ul>
    <li><i class="fa fa-home"></i>首页</li>
    <li><i class="fa fa-angle-double-right"></i>行业知识</i></li>
    <li class="service_lac"><i class="fa fa-angle-double-right"></i>行业知识</li>
  </ul>
</div> 

<div class="container">
	<div class="newslist_main">
	  <a href="{{:url('news_xq')}}"><div class="newslist_main_item">
		  <h4>亚马逊热销产品如何找寻？打造产品要从哪里开始？</h4>
		  <p>2020-05-07</p>
	  </div></a>
	  <a href="#"><div class="newslist_main_item">
		  <h4>亚马逊卖口罩被关店，卖家应该如何申诉？</h4>
		  <p>2020-05-06</p>
	  </div></a>
	  <a href="#"><div class="newslist_main_item">
		  <h4>跨境电商怎么做产品关键词，掌握这5招产品关键词挑选技巧</h4>
		  <p>2020-04-27</p>
	  </div></a>	
	  <a href="#"><div class="newslist_main_item">
		  <h4>亚亚马逊否定关键词的”使用秘诀“,看懂了能省大钱!</h4>
		  <p>2020-04-20</p>
	  </div></a>
	  <a href="#"><div class="newslist_main_item">
		  <h4>Wish政策福利升级 订单妥投延长并扩大至四十二个国家地区</h4>
		  <p>2020-04-17</p>
	  </div></a>
	  <a href="#"><div class="newslist_main_item">
		  <h4>亚马逊新产品战略，可为卖家提供产品定位</h4>
		  <p>2020-04-17</p>
	  </div></a>		
		
	</div>
</div>



</div>

</main>
<!-- /Main -->

        {include file="public/footer"}
		</html>