{include file="public/header"}

<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/theme.css">
<link href="__PUBLIC__/home/css/style.css" rel="stylesheet" type="text/css" />
    <title>天众国际-新闻资讯</title>

</head>
<body>

<div id="wrap" class="main">
  <div id="dvContainer">

      {include file="public/navbar"}<!--header结束-->
    

<div id="layerarea">

<!-- Main -->
<main class="main-container">

 <div class="warpper">
   <div class="news_xqwarp">
		<div class="cur">
			<div class="wp listtop">
				您的当前位置：<a href="{{:url('newslist_2')}}">新闻资讯</a> &gt; <a href="{{:url('news_xq_2')}}">法国邮政：DPD今年将在英国投资2亿英镑建15个新仓库</a>
			</div>
		</div>
	   <div class="container">
		<div class="wp contactbox">
			<div class="article">
				<h1>法国邮政：DPD今年将在英国投资2亿英镑建15个新仓库</h1>
				<p class="time">时间：2020-06-24</p>
				<div class="article_con">
				  <img src="__PUBLIC__/home/images/news_xq_img2.jpg" class="listpic">
                  <p>法国邮政旗下快递网络DPD近日宣布，计划今年在英国投资2亿英镑，建设15个新的仓库，投入更多车辆，创造6000个就业岗位，以应对新冠肺炎带来的意想不到的网购浪潮。这是其近年来最大的一笔投资之一。</p>
                  <p>其中，1亿英镑用于购置新车辆，6000万用于区域仓储中心建设（原计划是10个），企业投入科技研发。将雇用2500名全职员工供职于仓储、枢纽和管理岗位，以及3500名新司机。新设施和新雇员将于“黑色星期五”购物忘记之前均配置到位。</p>
				  <p>目前，DPD英国拥有雇员超1.3万人，车辆8000多台。过去几年，该公司已投资电动车和新设施建设。其投资1.5亿英镑，每小时最高处理7.2万件包裹，位于莱斯特郡欣克利的超级枢纽正在建设中，预计2022年投用。</p>
				  <p>DPD客户大多是英国领先的零售商，其一年处理包裹量超2.5亿件。2亿英镑的新投资主要用来扩大次日达网络资源，满足B2C需求。这一方面是受疫情影响，另一方面，其实在英国3月封城措施宣布之前，其每周7天的全国范围次日达快递需求已呈暴发之势。DPD预计今年将持续这种形势。</p>
				  <p>DPD英国首席执行官Dwain McDonald表示，这是公司在英国有纪录以来最大的线上零售业务量，希望通过投资提供高品质的服务。他说，受益于电商，DPD是近10年来在英国发展最快的公司之一。尽管最近受疫情影响，消费者行为发生巨大变化，但预计疫情后一些线上消费习惯将会持续下去，成为新常态。最近的业务量直逼旺季，如今年的感恩节业务量就是去年的2倍。</p>
	     		</div>
                <div class="list_bottom">
                  <a href="{{:url('index')}}" class="listmore">返回</a>
                  <div class="clear"></div>
                  <p class="list_btop">上一篇：<a href="#">营销推广的顶级方案</a></p>
                  <p class="list_bnext">下一篇：<a href="#">移动电商--微盟旺铺培训</a></p>
                </div>
				
                <!--免责声明-->
				<div class="disclaimer">
					<p><b>【免责声明】</b>以上内容和图片来源于网络，本网站转载仅为传递更多行业信息和交流之目的，著作权属原创者所有，如有版权问题请联系网站管理员删除。</p>
					<p><span>电话：0571-88890244</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>邮箱：business@easytochina.net</span></p>
				</div><!--免责声明-->
				
			</div>
		</div>
	   </div>
	   
	</div>
 </div>

</main>
<!-- /Main -->

    {include file="public/footer"}

	</html>