{include file="public/header"}

<link rel="stylesheet" type="text/css" href="__HOME_SC__/css/theme.css">
<link href="__HOME_SC__/css/style.css" rel="stylesheet" type="text/css" />
    <title>天众国际-新闻资讯</title>
</head>
<body>

<div id="wrap" class="main">
  <div id="dvContainer">

      {include file="public/navbar"}<!--header结束-->
    
    <div class="bann"><img src="__HOME_SC__/images/news_img.jpg" width="100%" /></div>

    <div id="layerarea">

<!-- Main -->
<main class="main-container">

 <div class="warpper">
<div class="ser hidden-xs">
  <ul class="ser_title">       
    <li class="active"><a href="{{:url('newslist_2')}}"><i class="fa fa-angle-down ser_down"></i>新闻资讯</a></li>
    <li><a href="{{:url('newslist')}}">行业知识</a></li>
    <li class="mail_lastchild"><a href="#">常见问题</a></li>
    <div class="clear"></div>
  </ul>
</div> 

<div class="service_liu visible-xs">
  <ul>
    <li><i class="fa fa-home"></i>首页</li>
    <li><i class="fa fa-angle-double-right"></i>资讯中心</i></li>
    <li class="service_lac"><i class="fa fa-angle-double-right"></i>新闻资讯</li>
  </ul>
</div> 

<div class="container">
	<div class="newslist_main">
	  <a href="{{:url('news_xq_2')}}"><div class="newslist_main_item">
		  <h4>法国邮政：DPD今年将在英国投资2亿英镑建15个新仓库</h4>
		  <p>2020-06-24</p>
	  </div></a>
	  <a href="#"><div class="newslist_main_item">
		  <h4>出口美国的清关流程和注意事项</h4>
		  <p>2020-06-24</p>
	  </div></a>		
	  <a href="#"><div class="newslist_main_item">
		  <h4>Aramex推出寄递支付退货一体化解决方案</h4>
		  <p>2020-06-24</p>
	  </div></a>
	  <a href="#"><div class="newslist_main_item">
		  <h4>最新研究报告显示欧洲跨境B2C市场规模2022年翻番</h4>
		  <p>2020-06-15</p>
	  </div></a>	
	  <a href="#"><div class="newslist_main_item">
		  <h4>第三方物流企业重新确定战略合作方中小企业成争夺新焦点中欧班列推联运新模式</h4>
		  <p>2020-06-12</p>
	  </div></a>
	  <a href="#"><div class="newslist_main_item">
		  <h4>Shopee印尼站将在7月上线跨境店铺海外仓交付功能</h4>
		  <p>2020-06-10</p>
	  </div></a>
	  	
		
	</div>
</div>



</div>

</main>
<!-- /Main -->


        {include file="public/footer"}
		</html>