{include file="public/header"}

<link rel="stylesheet" type="text/css" href="__HOME_SC__/css/theme.css">
<link href="__HOME_SC__/css/style.css" rel="stylesheet" type="text/css" />
    <title>天众国际-跨境进口</title>
</head>
<body>

<div id="wrap" class="main">
  <div id="dvContainer">

      {include file="public/navbar"}<!--header结束-->
    
    <div class="bann"><img src="__HOME_SC__/images/ser01.jpg" width="100%" /></div>

    <div id="layerarea">
<!-- Main -->
<main class="main-container">



  <div class="container pf_wrap">
    <div class="row">
	   <div class="col-md-6 col-md-offset-3">
		<header class="text-center">
		 <h2 class="section-title">进口<span class="text-theme">服务</span></h2>
		 <p class="section-subtitle">Import Services</p>
		</header>
	  </div>
    </div>
    <div class="suppbox2 suppbox3">
      <div class="row">
        <div class="col-lg-3 col-sm-3 col-md-3">
          <a href="{{:url('mail')}}"><div class="sup_item">
            <h4 class="sup_itt">直邮进口</h4>
            <div class="pf_wrap_anm">
              <img class="pf_pic" src="__HOME_SC__/images/ser02.png" />
              <p class="pf_fonts">为跨境电商企业、平台提供从国外收货、国际运输，国内报关清关，国内派送的一体化服务。</p>
            </div>

            <a href="{{:url('mail')}}" class="sup_itm">了解更多</a>
          </div></a>
        </div>

        <div class="col-lg-3 col-sm-3 col-md-3">
          <a href="{{:url('bonded')}}"><div class="sup_item">
            <h4 class="sup_itt">保税进口</h4>
            <div class="pf_wrap_anm">
              <img class="pf_pic" src="__HOME_SC__/images/ser03.png" />
              <p class="pf_fonts">主要为跨进电商平台提供从海外运输，国内保税区备货，保税仓存储、并在订单产生时直接从保税仓通关、分拣包装并发货的一体化服务。</p>
            </div>
            <a href="{{:url('bonded')}}" class="sup_itm">了解更多</a>
          </div></a>
        </div>

        <div class="col-lg-3 col-sm-3 col-md-3">
          <a href="{{:url('express')}}"><div class="sup_item">
            <h4 class="sup_itt">快件个人进口</h4>
            <div class="pf_wrap_anm">
              <img class="pf_pic" src="__HOME_SC__/images/ser04.png" />
              <p class="pf_fonts">快件从国外空运到杭州机场，以个人邮递物品的方式向海关申报进口。</p>
            </div>
            <a href="{{:url('express')}}" class="sup_itm">了解更多</a>
          </div></a>
        </div>

        <div class="col-lg-3 col-sm-3 col-md-3">
          <a href="{{:url('email')}}"><div class="sup_item">
            <h4 class="sup_itt">邮件个人进口</h4>
            <div class="pf_wrap_anm">
              <img class="pf_pic" src="__HOME_SC__/images/ser05.png" />
              <p class="pf_fonts">从国外空运或陆运到EMS邮关场所，EMS自行在其监管场所内以个人邮递物品的方式向海关申报进口。</p>
            </div>
            <a href="{{:url('email')}}" class="sup_itm">了解更多</a>
          </div></a>
        </div>

      </div>
    </div>
  </div>
  <!--我们的仓储-->
  <div class="pf_storage">
    <div class="container">
      <div class="base-info">
        <div class="title">
          <p class="sta_title"><span class="sta_tcolor">仓储</span>服务</p>
          <p class="sta_title2">Warehousing services</p>
          <p class="sta_title3">云仓储化&nbsp;高效仓配&nbsp;智能分拣&nbsp;精益库管</p>
        </div>
      </div>
      <div class="row mt">

        <div class="col-md-4 col-sm-6 fadeIn wow" data-wow-duration="1.3s">
          <a href="__HOME_SC__/images/project-03.jpg" class="project-item image-popup">
            <div class="gallery-image">
              <img src="__HOME_SC__/images/project-03.jpg" alt="">
            </div>
            <div class="info">
              <div class="h4 title">仓储地理</div>

            </div>
          </a>
        </div>

        <div class="col-md-4 col-sm-6 fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.2s">
          <a href="__HOME_SC__/images/project-01.jpg" class="project-item image-popup">
            <div class="gallery-image">
              <img src="__HOME_SC__/images/project-01.jpg" alt="">
            </div>
            <div class="info">
              <div class="h4 title">仓储服务</div>

            </div>
          </a>
        </div>

        <div class="col-md-4 col-sm-6 fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.4s">
          <a href="__HOME_SC__/images/project-02.jpg" class="project-item image-popup">
            <div class="gallery-image">
              <img src="__HOME_SC__/images/project-02.jpg" alt="">
            </div>
            <div class="info">
              <div class="h4 title">仓储运输</div>

            </div>
          </a>
        </div>

        <div class="col-md-4 col-sm-6 fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.6s">
          <a href="__HOME_SC__/images/project-04.jpg" class="project-item image-popup">
            <div class="gallery-image">
              <img src="__HOME_SC__/images/project-04.jpg" alt="">
            </div>
            <div class="info">
              <div class="h4 title">保税仓全景</div>

            </div>
          </a>
        </div>

        <div class="col-md-4 col-sm-6 fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.8s">
          <a href="__HOME_SC__/images/project-05.jpg" class="project-item image-popup">
            <div class="gallery-image">
              <img src="__HOME_SC__/images/project-05.jpg" alt="">
            </div>
            <div class="info">
              <div class="h4 title">产品装箱</div>

            </div>
          </a>
        </div>

        <div class="col-md-4 col-sm-6 fadeIn wow" data-wow-duration="1.3s" data-wow-delay="1.0s">
          <a href="__HOME_SC__/images/project-06.jpg" class="project-item image-popup">
            <div class="gallery-image">
              <img src="__HOME_SC__/images/project-06.jpg" alt="">
            </div>
            <div class="info">
              <div class="h4 title">保税仓产品</div>

            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
  <!--我们的仓储-->
  <!--流程-->
  <div class="container">
    <div class="suppbox2">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <header class="text-center">
            <h2 class="section-title">使用<span class="text-theme">流程</span></h2>
            <p class="section-subtitle">The use of the process</p>
          </header>
        </div>
      </div>
      <div class="serv_pic"><img src="__HOME_SC__/images/ser01.png" width="100%" /></div>
    </div>
  </div>
</main>
<!-- /Main -->



        {include file="public/footer"}

<script type="text/javascript">
    $(document).ready(function() {
       $(".fbt").css("top", "50%");
   // $(".fbt").css("left", left);
        $("#TargetCountry").click(function() {
            $(".fb_1").fadeIn();
        })
        $(".boxcolse,.colsebox").click(function() {
            $(".floatbox,.floatbox1,.floatbox2,.fb_1").fadeOut();
        })
        $(".fbtitle1 a").each(function(i) {
            //alert("aaa");
            $(this).click(function() {
                $(".tabcon >div").eq(i).show().siblings().hide();
            })
        })
    })
var start=0;
var currentindex=1;
$("#flashBg").css("background-color",$("#flash1").attr("name"));
$("#flash a:eq(0)").show();
var num=$("#flash a").length;
function changeflash(i) {	
currentindex=i;
for (j=1;j<=num;j++){
	if (j==i) 
	{
	start=1;
	$("#flash"+j).fadeIn("normal");
	$("#flash"+j).css("display","block");
	$("#f"+j).removeClass();
	$("#f"+j).addClass("dq");
	$("#flashBg").css("background-color",$("#flash"+j).attr("name"));
	}
	else
	{$("#flash"+j).css("display","none");
	$("#f"+j).removeClass();
	$("#f"+j).addClass("no");}
}}
function startAm(){
if(start==0){
    $("#flashBg").css("background-color",$("#flash1").attr("name"));
    $("#flash a:eq(0)").show().siblings("a").hide();
} 
timerID = setInterval("timer_tick()",3000);
}
function stopAm(){
clearInterval(timerID);
}
function timer_tick() {

    currentindex=currentindex>=num?1:currentindex+1;
	changeflash(currentindex);}
$(document).ready(function(){
$(".header").addClass("borderbottom");
tab.tabControler($(".feeboxtitle >a"),$(".feeboxcon >div"),"current");
$(".flash_bar div").mouseover(function(){stopAm();}).mouseout(function(){startAm();});
startAm();
});
</script>
    <script type="text/javascript">
        function Check() 
        {
            var tt = $.trim($("#txtOrderNo").val());
            var flag = true;
            if (tt == "" || tt == "请输入订单号或追踪号...") 
            {
               // $("#txtOrderNo").val("请输入订单号或追踪号...");
 window.location.href = "/Manage/WebManage/Inquire.aspx?txtID=No";
                flag = false;
            }
            else 
            {
                flag = true;
            }
            return flag;
        }
 function Check_price()
        {
            var TargetCountry = $.trim($("#TargetCountry").val());
            var txtStage = $.trim($("#txtStage").val());
             if (TargetCountry == ""||TargetCountry == "请选择") {
                alert("请输入目的地！");
                return  false;
            }
            if (txtStage == "")
            {
                alert("请输入重量！");
                 return false;
            }
            return true;
        }
    </script>
    <script type="text/javascript">
        function GetFocus() 
        {
            var tt = $.trim($("#txtOrderNo").val());
            if (tt == "请输入订单号或追踪号...") 
            {
                $("#txtOrderNo").val("");
            }
        }
        function LFocus() 
        {
            var tt = $.trim($("#txtOrderNo").val());
            if (tt == "请输入订单号或追踪号..." || tt == "") 
            {
                $("#txtOrderNo").val("请输入订单号或追踪号...");
            }
        }
</script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".fblist a").live("click", function () {
                var text = $(this).text();
                var title = $(this).attr("title");
                $(".showfb").val(text);
$("#TargetCountry").val(text);
                $("#HiValue").val(title);
                $(".fb_1").fadeOut();
            });
            GetCountry();
        });
</script>
    <script type ="text/javascript">
        function GetCountry() {    
        $.ajax({
            type: "POST",
            async: false,
            url: "Manage/WebManage/Ashx/GetCountry.ashx",
            data: { Flag: "GetCounrty", Condition: "" },
            dataType: "json",
            success: function(result) {
                if (result.Error == false) {
                    var con = result.Counrty.length;
                    for (var i = 0; i < con; i++) {
                        var CountryId = result.Counrty[i].CountryId;
                        var CnName = result.Counrty[i].CnName;
                        var EnName = result.Counrty[i].EnName;
                        var ShortName = result.Counrty[i].ShortName;
                        var Common = result.Counrty[i].Common
                        var FirstLetter = EnName.substr(0, 1);
                        if (Common == "1") {
                            $("#CommonCountry").append("<li><a href=\"javascript:;\" title=\"" + CountryId + "\">" + CnName + "(" + EnName + ")</a></li>");
                        }
                        if ($("#" + FirstLetter).length > 0) {
                            $("#" + FirstLetter).append("<li><a href=\"javascript:;\" title=\"" + CountryId + "\">" + CnName + "-" + EnName + "</a></li>");
                        }
                    }
                }
                else {
                    alert("无国家信息!");
                }
            },
  
            error: function() {
 document.getElementById("alink").click(); 
//location.reload();
               // alert("加载国家信息失败!");
			
            }
        });
    }
</script>
    <script type ="text/javascript">
        function SearchCountry() {
            //alert("aaa");
        var txt = $.trim($("#Content").val());
        if (txt != "") {
            $.ajax({
                type: "POST",
                async: true,
                url: "Manage/WebManage/Ashx/GetCountry.ashx",
                data: { Flag: "SearchCountry", Condition: txt },
                dataType: "json",
                success: function(result) {
                    $("#SearchRes").html("");
                    if (result.Error == false) {
                        var con = result.Counrty.length;

                        for (var i = 0; i < con; i++) {
                            var CountryId = result.Counrty[i].CountryId;
                            var CnName = result.Counrty[i].CnName;
                            var EnName = result.Counrty[i].EnName;
                            //var ShortName = result.Counrty[i].ShortName;
                            //var Common = result.Counrty[i].Common
                            //var FirstLetter = EnName.substr(0, 1);
                            $("#SearchRes").append("<li><a href=\"javascript:;\" title=\"" + CountryId + "\">" + CnName + "-" + EnName + "</a></li>");
                        }
                    }
                    $("#Search").css("display", "block");
                    $("#SearchRes").css("display", "block");
                },
                error: function() {
                    alert("加载国家信息失败!");
                }
            });
        } else {
            $("#SearchRes").html("");
        }
        }
        function Lreload(lang) {
            //document.cookie = "language=" + lang;
            $("#OrderHeader1_HiddenField1").val(lang);
            document.getElementById("OrderHeader1_Button1").click();
            window.location.href = "default.aspx";
            //this.location.reload();
            //var strlang = document.cookie;
            // parent.MainFrame.location.reload();
        }
</script>
      <!--仓储图片点击放大-->
      <script src="__HOME_SC__/js/jquery-2.2.0.min.js"></script>
      <script src="__HOME_SC__/js/bootstrap.min.js"></script>
      <script src="__HOME_SC__/js/jquery.magnific-popup.min.js"></script>
      <script src="__HOME_SC__/js/jquery.stellar.min.js"></script>
      <script src="__HOME_SC__/js/wow.min.js"></script>
      <script src="__HOME_SC__/js/general.js"></script>
      <!--仓储图片点击放大-->
</html>