{include file="public/header"}


<link href="__HOME_SC__/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__HOME_SC__/js/layer/layer.js"></script>
<title>天众国际-物流查询</title>

<script>
    $(document).ready(function(){
        $("#package_no").focus();
        $("form").submit(function() {
            $("#query").click();
        })
        $("#query").click(function(){
            package_no=$("#package_no").val();
            if(package_no==""){
                layer.msg("请输入查询单号",{time: 2000, icon:2});
                return
			}
            $.ajax({
                type: 'POST',
                url: "{{:url('method/get_track')}}",
                data:{package_no:package_no,type:""},
                success: function(res) {
                    data=JSON.parse(res);
                    $(".number").text(package_no);
					if(data.flag==1){
                        // layer.msg(data.tip,{time: 2000, icon:1});
                        guiji=""
                        list=data.data.status_list
                        guiji=data.data.post_country+':'+data.data.post_city+'<i class="aicon-arrow-right"><img src="__HOME_SC__/images/jiantou.png"></i>'+data.data.receiving_country+':'+data.data.receiving_city;
                        $("#guiji").empty();
                        $("#guiji").append(guiji);
                        html=""
                        console.log(list)
						list.forEach(function(val,idx){
						    if(idx==0){
                                first='first';
                            }else{
						        first='';
                            }
							html+='<ul class="route '+first+'">\n' +
                                '<li class="route-status-text">\n' +
                                '<span class="signed">'+val.travel_status+'</span>\n' +
                                '</li>\n' +
                                '<li class="route-status-icon">\n' +
                                '<img src="__HOME_SC__/images/status-signed.png">\n' +
                                '</li>\n' +
                                '<li class="route-date-time">\n' +
                                '<span>'+val.time+'</span>\n' +
                                '</li>\n' +
                                '<li class="route-desc" ><span>'+val.status+'</span>\n' +
                                '</li>\n' +
                                '</ul>';
						})
                        $("#desc").html("");
                        $("#desc").append(html);
					}else{
                        layer.msg(data.data.msg,{time: 2000, icon:2});
                    }
                }
            });
        })
    });

</script>

</head>
<body>

<div id="wrap" class="main">
  <div id="dvContainer">

      {include file="public/navbar"}<!--header结束-->

    <div id="layerarea">
     <div class="query_warp">
     
      <div class="network_twarp">
         <h3>包裹<span>查询</span></h3>
         <p>Package Inquiry</p>
       </div>
       
       <div class="query_main">
		   <div class="query_main_search">
			   <form onsubmit="return false">
				   <input type="text" placeholder="请输入查询单号..." name="package_no" id="package_no">
				   <button type="button" name="query" id="query"></button>
			   </form>

			   <ul class="exit_cx_other exit_cx_other_two">
				   <li><a href="http://erpexport.mttlm.com/purchasing/base/login.html" target="_blank">我要发货</a><i>|</i></li>
				   <li><a href="{{:url('contact')}}">业务定制</a></li>
				   <div class="clear"></div>
			   </ul>

		   </div>
		   <div class="query_main_content">
		     <a href="{{:url('index')}}">←&nbsp;&nbsp;返回首页</a>
			 <div class="query_two_main">
				 <!-- 快递简介 -->
				 <div class="delivery-brief">
					 <div class="brief-content clearfix">
						 <div class="wrapper_left">
							 <div class="bill-num">
								 <span class="gray">运单号 </span>
								 <span class="number" id="number">无</span>
							 </div><!-- 寄件城市与收件城市 -->
                             <div class="locations" id="guiji">

                             </div>
						 </div>
						 <div class="status-details fr">
							 <div class="status-date-time">
								 <div class="date">
									 <!--<p class="bold fs15">签收时间</p>-->
									 <!--<p class="bold fs15 red">10月 23日 09:39</p>-->
								 </div>
							 </div>
						 </div>
					 </div>
				 </div><!-- 快递简介 -->
				 
				 <!-- 路由详细信息 -->
				 <div class="routes-wrapper">
					 <div class="route-list" id="desc">
						 <!--<div class="dashed-line" style="height: 380px;"></div>-->

						 <!--<ul class="route">-->
							 <!--<li class="route-status-text">-->
								 <!--<span class="">派送中</span>-->
							 <!--</li>-->
							 <!--<li class="route-status-icon">-->
								 <!--<img src="images/status-transporting.png">-->
							 <!--</li>-->
							 <!--<li class="route-date-time">-->
								 <!--<span>2019-10-23 07:58</span>-->
							 <!--</li>-->
							 <!--<li class="route-desc">-->
								 <!--<span>快件交给过祖南，正在派送途中（联系电话：15001972407）</span>-->
							 <!--</li>-->
						 <!--</ul>-->
					 </div>
				 </div><!-- 路由详细信息 -->

			 </div> 


			
			    
		   </div>
	   </div>
       
      </div>


        {include file="public/footer"}

</html>