{include file="public/header"}

<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/theme.css">
<link href="__PUBLIC__/home/css/style.css" rel="stylesheet" type="text/css" />
<title>天众国际-关于天众</title>

</head>
<body>

<div id="wrap" class="main">
  <div id="dvContainer">

	  {include file="public/navbar"}<!--header结束-->
   
   <div class="bann">
     <img src="__PUBLIC__/home/images/bann2.jpg" width="100%" />
   </div>
   
<div id="layerarea">
<!--Main-->
<main class="main-container">

<!--Section: About-->
<section id="about" class="section">
	<div class="container">

		<!--Section Header-->
		<div class="row" style="display: none">
			<div class="col-md-6 col-md-offset-3">
				<header class="text-center">
					<h2 class="section-title">About <span class="text-theme">Us</span></h2>
					<p class="section-subtitle">Company with high technology as the starting point</p>
				</header>
			</div>
		</div>
		<!--/Section Header-->

		<div class="row">
			<!--Feature Block-->
			<div class="col-sm-3 feature fadeIn wow" data-wow-duration="1.3s">
				<span class="icon_link_alt icon"></span>
				<div class="h3 title">跨境进口服务</div>
				<p class="description">
					B2B2C、B2C进口<br/>9610，1210模式
				</p>
			</div>
			<!--/Feature Block-->

			<!--Feature Block-->
			<div class="col-sm-3 feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.4s">
				<span class="icon_mobile icon"></span>
				<div class="h3 title">跨境出口服务</div>
				<p class="description">
					天众小包 速递全球<br/>9610、9710、9810模式<br/>全球小包专线服务
				</p>
			</div>
			<!--/Feature Block-->

			<!--Feature Block-->
			<div class="col-sm-3 feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.6s">
				<span class="icon_cloud_alt icon"></span>
				<div class="h3 title">天众云仓服务</div>
				<p class="description">
					全国范围就近入库，<br/>仓仓调拨最优区配送优势
				</p>
			</div>
			<!--/Feature Block-->

			<!--Feature Block-->
			<div class="col-sm-3 feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="1.0s">
				<span class="icon_general icon"></span>
				<div class="h3 title">个性化定制服务</div>
				<p class="description">
					为跨境电商、仓储<br/>服务商提供定制化系统<br/>物流、运营解决方案
				</p>

			</div>
			<!--/Feature Block-->

		</div>
	</div>
</section>
<!--/Section: About-->

<!--Section: Projects-->
<section id="projects" class="section-small bg-light-gray">
	<div class="container">

		<!--Section Header-->
		<div class="row">

			<div class="col-md-6">
				<header>
					<h2 class="section-title">关于<span class="text-theme">我们</span></h2>
					<p class="section-subtitle">About tianzhong</p>
				</header>
			</div>

			<div class="col-md-6">

			</div>

		</div>
		<!--/Section Header-->

		<!--Section Content-->
		<div class="row mt">

			<div class="col-md-6 col-sm-12 fadeIn wow" data-wow-duration="1.3s">
				<div class="ser_tianz_main">
					<h3 class="title">天众供应链管理有限公司</h3>
					<p class="ser_tianz">杭州天众供应链管理有限公司创立于2015年，是国内首批跨境电商供应链服务企业。公司致力于为政府、跨境电商企业和个人提供专业化、个性化及 差异化的跨境贸易供应链整体解决方案、软件及系统的开发建设。</p>
					<p class="ser_tianz">我们深耕市场多年，积累了丰富的跨境互联网及物流经验和实力，与美洲、欧洲、澳洲及亚洲等多个国家建立了合作关系。</p>
				</div>
				<div class="ser_tianz_main">
					<h3 class="title">成立沿革</h3>
					<!--历史节点-->
					<div id="history" class="hidden-xs">
						<div class="historybg"></div>

						<div class="max-width-4 mx-auto" style="position:relative;">

							<div class="hidden-xs history_cont">

								<div class="slider--timeline slick-initialized slick-slider">
									<button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;">Previous</button>

									<div class="slick-list draggable">
										<div class="slick-track">
											<!--2020-->
											<div class="slide slick-slider slick-active">
												<div class="HISTORYwarp">

													<div class="slide__bottom col-10  col-10 mx-auto mt4">
														<div class="slide__bottom--left">
															<!--<h2>【天众国际】</h2>-->
															<p>设立新的海外仓；开辟跨境出口物流服务平台，整合多家国内知名国际物流供应商资源，为有跨境出口需求顾客提供包裹速递全球服务，在不平凡的2020年踏入新征途。</p>
														</div>

														<div class="clear"></div>
													</div>

													<div class="slide__top col-9 lg-col-7 mx-auto center">
														<div class="slide__year orange didot">2020</div>

													</div>

												</div>
											</div>
											<!--2020-->

											<!--2019-->
											<div class="slide slick-slider">
												<div class="HISTORYwarp">

													<div class="slide__bottom col-10 mx-auto mt4">
														<div class="slide__bottom--left">
															<p>加速国内外仓储布局。目前国内业务范围辐射华东地区、东北地区和西南地区；国外业务范围辐射欧洲地区、澳洲地区及日韩等国家。</p>
														</div>

														<div class="clear"></div>
													</div>

													<div class="slide__top col-9 lg-col-7 mx-auto center">
														<div class="slide__year orange didot">2019</div>

													</div>

												</div>
											</div>
											<!--2019-->

											<!--2017-->
											<div class="slide slick-slider">
												<div class="HISTORYwarp">

													<div class="slide__bottom col-10 mx-auto mt4">
														<div class="slide__bottom--left">
															<p>天众自研系统实现稳定高效运行，可支撑20000单/日的订单同时申报 。</p>
														</div>

														<div class="clear"></div>
													</div>

													<div class="slide__top col-9 lg-col-7 mx-auto center">
														<div class="slide__year orange didot">2017</div>

													</div>

												</div>
											</div>
											<!--2017-->


											<!--2016/3-->
											<div class="slide slick-slider">
												<div class="HISTORYwarp">

													<div class="slide__bottom col-10 mx-auto mt4">
														<div class="slide__bottom--left">
															<p>联合中欧跨境贸易进出口商会，打通国内外市场，让全球的优质品牌最快、最轻松、最便捷的在全球流通。</p>
														</div>

														<div class="clear"></div>
													</div>

													<div class="slide__top col-9 lg-col-7 mx-auto center">
														<div class="slide__year orange didot">2016</div>

													</div>

												</div>
											</div>
											<!--2016/3-->

											<!--2015/11-->
											<div class="slide slick-slider">
												<div class="HISTORYwarp">

													<div class="slide__bottom col-10 mx-auto mt4">
														<div class="slide__bottom--left">
															<p>首次挑战双十一，自研系统实现首次申报清关，成功申报35笔订单 </p>
														</div>

														<div class="clear"></div>
													</div>

													<div class="slide__top col-9 lg-col-7 mx-auto center">
														<div class="slide__year orange didot history_nianduo">2015/11</div>

													</div>

												</div>
											</div>
											<!--2015/11-->

											<!--2015/10-->
											<div class="slide slick-slider">
												<div class="HISTORYwarp">

													<div class="slide__bottom col-10 mx-auto mt4">
														<div class="slide__bottom--left">
															<p>在杭州下沙保税区建立保税仓，成为全国首批跨境电商供应链服务企业</p>
														</div>

														<div class="clear"></div>
													</div>

													<div class="slide__top col-9 lg-col-7 mx-auto center">
														<div class="slide__year orange didot history_nianduo">2015/10</div>

													</div>

												</div>
											</div>
											<!--2015/10-->

											<!--2015/8-->
											<div class="slide slick-slider">
												<div class="HISTORYwarp">

													<div class="slide__bottom col-10 mx-auto mt4">
														<div class="slide__bottom--left">
															<p>由互联网、国际贸易等行业资深人士创立杭州天众供应链管理有限公司</p>
														</div>

														<div class="clear"></div>
													</div>

													<div class="slide__top col-9 lg-col-7 mx-auto center">
														<div class="slide__year orange didot history_nianduo">2015/08</div>

													</div>

												</div>
											</div>
											<!--2015/8-->

										</div>
									</div>

									<button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">Next</button>
								</div>


								<div class="timeline-years animate--timeline">
									<div class="timeline-years__full-line animate"></div>
									<div class="mx-auto relative">
										<div class="timeline-years__active-line"></div>
										<div class="timeline-year-container">
											<div class="timeline-years__year timeline-years__year-0 active" data-index="0" style="width:15%;">2020</div>
											<div class="timeline-years__year timeline-years__year-1 " data-index="1" style="width:14%;">2019</div>
											<div class="timeline-years__year timeline-years__year-2 " data-index="2" style="width:14%;">2017</div>
											<div class="timeline-years__year timeline-years__year-3 " data-index="3" style="width:14%;">2016</div>
											<div class="timeline-years__year timeline-years__year-4" data-index="4" style="width:14%;">2015/11</div>
											<div class="timeline-years__year timeline-years__year-5" data-index="5" style="width:14%;">2015/10</div>
											<div class="timeline-years__year timeline-years__year-6" data-index="6" style="width:15%;">2015</div>
											<!--<div class="timeline-years__year timeline-years__year-7 " data-index="7" style="width:13%;">2015</div>-->

										</div>
									</div>
								</div>

							</div>



						</div>
					</div>
					<!--历史节点-->
				</div>
			</div>

			<div class="col-md-6 col-sm-12 fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.2s">
				<img class="ser_tianz_pic" src="__PUBLIC__/home/images/product/tianzhong.jpg" width="100%">
			</div>









		</div>
		<!--/Section content-->

	</div>
</section>


<!--/Section: Projects-->

<!--Section: More Features-->
<section id="more-features" class="section">
	<div class="container">

		<!--Section Header-->
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<header class="text-center">
					<h2 class="section-title">我们的<span class="text-theme">优势</span></h2>
					<p class="section-subtitle">We have the advantage of</p>
				</header>
			</div>
		</div>
		<!--/Section Header-->

		<!--Section Content-->
		<div class="row section-content zoomIn wow">

			<!--Feature Block-->
			<div class="col-md-4 col-sm-6 more-feature">
				<div class="media">
					<div class="media-left">
						<span class="icon_link_email icon"></span>
					</div>
					<div class="media-body">
						<h3 class="title">多元服务</h3>
						<p class="description">为跨境电商企业或个人提供BBC、B2C、全球专线小包、快件小包等一系列进出口综合服务。</p>
					</div>
				</div>
			</div>
			<!--/Feature Block-->

			<!--Feature Block-->
			<div class="col-md-4 col-sm-6 more-feature">
				<div class="media">
					<div class="media-left">
						<span class="icon_easel icon"></span>
					</div>
					<div class="media-body">
						<h3 class="title">仓配一体</h3>
						<p class="description">我们拥有自己的仓储，实行现代化仓库管理，高度自动化，跨境物流仓储配送一体化。</p>
					</div>
				</div>
			</div>
			<!--/Feature Block-->

			<!--Feature Block-->
			<div class="col-md-4 col-sm-6 more-feature">
				<div class="media">
					<div class="media-left">
						<span class="icon_puzzle icon"></span>
					</div>
					<div class="media-body">
						<h3 class="title">系统对接</h3>
						<p class="description">
							自主研发多功能系统，线上一键下单，即可开启高效运转，并实现全程物流追踪。
						</p>
					</div>
				</div>
			</div>
			<!--/Feature Block-->

			<!--Feature Block-->
			<div class="col-md-4 col-sm-6 more-feature more-feature2">
				<div class="media">
					<div class="media-left">
						<span class="icon_download icon"></span>
					</div>
					<div class="media-body">
						<h3 class="title">闪电清关</h3>
						<p class="description">我们采用与海关系统直接对接的方式处理清关，产品均已实现备案，故全程采用自动放行方式，效率相比传统高出数倍。</p>
					</div>
				</div>
			</div>
			<!--/Feature Block-->

			<!--Feature Block-->
			<div class="col-md-4 col-sm-6 more-feature more-feature2">
				<div class="media">
					<div class="media-left">
						<span class="icon_heart_alt icon"></span>
					</div>
					<div class="media-body">
						<h3 class="title">专业客服</h3>
						<p class="description">
							随时为您提供符合法规及程序的进出口文件，解答商品税率及税务、进出口限制、汇率等一系列相关问题的咨询。
						</p>
					</div>
				</div>
			</div>
			<!--/Feature Block-->

			<!--Feature Block-->
			<div class="col-md-4 col-sm-6 more-feature more-feature2">
				<div class="media">
					<div class="media-left">
						<span class="icon_cogs icon"></span>
					</div>
					<div class="media-body">
						<h3 class="title">全球性电商</h3>
						<p class="description">
							在公司原有服务的海量供应商基础，筛选了各品种优质的低价货源致力于给分销商提供便捷的铺货方式和优质的运营服务。
						</p>
					</div>
				</div>
			</div>
			<!--/Feature Block-->

		</div>
		<!--/Section Content-->

	</div>
</section>
<!--/Section: More Features-->

<!--Section: Statistics-->
<section id="statistics" class="section bg-tuna">
	<div class="container">

		<div class="row">

			<!--Statistic Block-->
			<div class="col-sm-3 col-xs-6 stat">
				<span class="icon_pens icon zoomIn wow" data-wow-duration="0.7s"></span>
				<div class="number animate-number h2" data-value="180">30,0000+</div>
				<h4 class="title bounceInUp wow" data-wow-duration="0.7s">成交量</h4>
			</div>
			<!--/Statistic Block-->

			<!--Statistic Block-->
			<div class="col-sm-3 col-xs-6 stat">
				<span class="icon_group icon zoomIn wow" data-wow-duration="0.7s"></span>
				<div class="number animate-number h2" data-value="1806">99.7%</div>
				<h4 class="title bounceInUp wow" data-wow-duration="0.7s">妥投率</h4>
			</div>
			<!--/Statistic Block-->

			<!--Statistic Block-->
			<div class="col-sm-3 col-xs-6 stat">
				<span class="icon_mug icon zoomIn wow" data-wow-duration="0.7s"></span>
				<div class="number animate-number h2" data-value="6">50+</div>
				<h4 class="title bounceInUp wow" data-wow-duration="0.7s">现有合作</h4>
			</div>
			<!--/Statistic Block-->

			<!--Statistic Block-->
			<div class="col-sm-3 col-xs-6 stat">
				<span class="icon_building icon zoomIn wow" data-wow-duration="0.7s"></span>
				<div class="number animate-number h2" data-value="3485">99%</div>
				<h4 class="title bounceInUp wow" data-wow-duration="0.7s">好评率</h4>
			</div>
			<!--/Statistic Block-->

		</div>

	</div>
</section>
<!--/Section: Statistics-->

<!--Section: Best Features-->
<section id="beast-features" class="section">
	<div class="container">

		<!--Section Header-->
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<header class="text-center">
					<h2 class="section-title">我们的<span class="text-theme">渠道</span></h2>
					<p class="section-subtitle">Our distribution channels</p>
				</header>
			</div>
		</div>
		<!--/Section Header-->

		<!--Section Content-->
		<div class="row section-content">


			<div class="col-md-6">

				<h3 class="index_cht">不同类型的合作方式</h3>

				<ul class="list">
					<li>
						<a href="{{:url('channel')}}"><h4 class="title bounceInUp wow" data-wow-duration="1.3s" data-wow-delay="0.2s">个人渠道</h4></a>
						<p class="description fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.2s">
							如果您是个人想跨境买商品，推荐您最佳靠谱服务平台——天众供应链
						</p>
					</li>
					<li>
						<a href="{{:url('channel')}}"><h4 class="title bounceInUp wow" data-wow-duration="1.3s" data-wow-delay="0.4s">商家渠道</h4></a>
						<p class="description fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.4s">
							如果您是商家想跨境买商品，推荐您最佳靠谱服务平台——天众供应链
						</p>
					</li>
					<li>
						<a href="{{:url('channel')}}"><h4 class="title bounceInUp wow" data-wow-duration="1.3s" data-wow-delay="0.6s">渠道合作</h4></a>
						<p class="description fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.6s">
							如果您是个人想跨境买商品，推荐您最佳靠谱服务平台——天众供应链
						</p>
					</li>
				</ul>

			</div>

			<!--Section Image-->
			<div class="col-md-6 hidden-sm hidden-xs bounceInRight wow" data-wow-duration="1.3s">
				<img src="__PUBLIC__/home/images/devices2.png" class="img-responsive" alt="">
			</div>
			<!--/Section Image-->

		</div>
		<!--/Section Content-->

	</div>
</section>
<!--/Section: Best Features-->

<!-- Section: Testimonials -->
<section id="testimonials" class="section-small bg-light-gray inbottom">
	<div class="container">

		<!--Section Header-->
		<div class="row">

			<div class="col-md-6">
				<header>
					<h2 class="section-title">我们的<span class="text-theme">合作</span></h2>
					<p class="section-subtitle">Our cooperation</p>
				</header>
			</div>

		</div>
		<!--/Section Header-->

		<!--Section Content-->
		<div class="row mt">
			<div class="col-md-12 zoomIn wow">

				<!--Testimonials Carousel-->
				<div id="testimonials-carousel" class="testimonials-carousel owl-carousel owl-theme">

					<!--Testimonial-->
					<div class="testimonial">

						<div class="content">
							<div class="media">
								<div class="media-left">
									<img src="__PUBLIC__/home/images/fir01.jpg">
								</div>
								<div class="media-body media-middle">
								    <img src="__PUBLIC__/home/images/fir02.jpg">
								</div>
                                <div class="clear"></div>
							</div>
						</div>
					</div>
					<!--/Testimonial-->

					<!--Testimonial-->
					<div class="testimonial">

						<div class="content">
							<div class="media">
								<div class="media-left">
									<img src="__PUBLIC__/home/images/fir03.jpg">
								</div>
								<div class="media-body media-middle">
									<img src="__PUBLIC__/home/images/fir04.jpg">
								</div>
							</div>
						</div>
					</div>
					<!--/Testimonial-->

					<!--Testimonial-->
					<div class="testimonial">

						<div class="content">
							<div class="media">
								<div class="media-left">
									<img src="__PUBLIC__/home/images/fir05.jpg">
								</div>
								<div class="media-body media-middle">
									<img src="__PUBLIC__/home/images/fir06.jpg">
								</div>
							</div>
						</div>
					</div>
					<!--/Testimonial-->

					<!--Testimonial-->
					<div class="testimonial">

						<div class="content">
							<div class="media">
								<div class="media-left">
									<img src="__PUBLIC__/home/images/fir07.jpg">
								</div>
								<div class="media-body media-middle">
									<img src="__PUBLIC__/home/images/fir08.jpg">
								</div>
							</div>
						</div>

					</div>
					<!--/Testimonial-->

					<!--Testimonial-->
					<div class="testimonial">

						<div class="content">
							<div class="media">
								<div class="media-left">
									<img src="__PUBLIC__/home/images/fir09.jpg">
								</div>
								<div class="media-body media-middle">
									<img src="__PUBLIC__/home/images/fir10.jpg">
								</div>
							</div>
						</div>

					</div>
					<!--/Testimonial-->

				</div>
				<!--/Testimonials Carousel-->

			</div>
		</div>
		<!--/Section Content-->

	</div>
</section>

<!--/Section: Testimonials-->


<!--Section: Contact-->
<section id="contact" class="section" style="padding-bottom:0px;">
	<div class="container">

		<!--Section Header-->
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<header class="text-center">
					<h2 class="section-title"><span class="text-theme">联系</span>我们</h2>
					<p class="section-subtitle">Please contact with us</p>
				</header>
			</div>
		</div>
		<!--/Section Header-->

		<!--Section Content-->
		<div class="row section-content">

			<!--Contact Form-->
			<div class="col-md-8 col-md-offset-2 contact-form fadeIn wow">
				<form class="form-ajax" method="post">

					<input type="hidden" name="form" value="Contact">

					<div class="row">
						<div class="form-group col-md-6">
							<input type="text" name="name" class="form-control serv_form" placeholder="姓名 *" required>
						</div>
						<div class="form-group col-md-6">
							<input type="email" name="email" class="form-control serv_form" placeholder="邮箱 *" required>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<textarea name="message" class="form-control serv_form" placeholder="内容 *"></textarea>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12 text-center">
							<button type="submit" class="btn btn-theme"><i class="fa fa-fw fa-paper-plane-o"></i>发送信息</button>
						</div>
					</div>

				</form>
			</div>
			<!--/Contact Form-->


		</div>
		<!--/Section Content-->

	</div>
</section>
<!--/Section: Contact-->


</main>
<!--/Main-->

	{include file="public/footer"}

<!--SCRIPTS-->
<script src="__PUBLIC__/home/js/jquery-2.2.0.min.js"></script>
<script src="__PUBLIC__/home/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/home/js/owl.carousel.min.js"></script>
<script src="__PUBLIC__/home/js/jquery.magnific-popup.min.js"></script>
<script src="__PUBLIC__/home/js/jquery.stellar.min.js"></script>
<script src="__PUBLIC__/home/js/wow.min.js"></script>
<script src="__PUBLIC__/home/js/jquery.appear.js"></script>
<script src="__PUBLIC__/home/js/general.js"></script>
<!--/SCRIPTS-->
</html>