{include file="public/header"}

<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/theme.css">
<link href="__PUBLIC__/home/css/style.css" rel="stylesheet" type="text/css" />
<title>天众国际-美国空运</title>

</head>
<body>

<div id="wrap" class="main">
  <div id="dvContainer">

      {include file="public/navbar"}<!--header结束-->
    
    <div class="bann"><img src="__PUBLIC__/home/images/exit_banner.jpg" width="100%" /></div>

    <div id="layerarea">

<!-- Main -->
<main class="main-container">

 <div class="warpper">
<div class="ser hidden-xs">
  <ul class="ser_title ser_title2">       
    <li class="active"><a href="{{:url('special_xq')}}">美国空运</a><i class="fa fa-angle-down ser_down"></i></li>
    <li><a href="{{:url('special_xq')}}">美国海运</a></li>
    <li><a href="{{:url('special_xq')}}">欧洲空运</a></li>
    <li class="mail_lastchild"><a href="{{:url('e_special_xq')}}">欧洲铁运</a></li>
    <div class="clear"></div>
  </ul>
</div> 

<div class="service_liu visible-xs">
  <ul>
    <li><i class="fa fa-home"></i>首页</li>
    <li><i class="fa fa-angle-double-right"></i>跨境出口</i></li>
    <li class="service_lac"><i class="fa fa-angle-double-right"></i>美国空运</li>
  </ul>
</div> 

<div class="mail">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 mailwl">
        <div class="mail_main">
          <h4>服务介绍</h4>
          <p>美国特快专线-带电服务是天众通过整合中美的速递资源，将货物在国内集中分拣，配载广州、深圳直飞航班 时效2-3天完成，由天众的美国专线代理在当地完成清关和USPS用Priority服务，本地派送3天内高达90%派送完成，有签记录可查，整体时效控制在8-12个工作日内。天众-美国特快专线-带电时效快，操作灵活，适合运送高价值、时效要求高的物品。</p>
          <ul class="mail_top">
           <li>以最小的资源投入，做最大的事</li>
           <li>合力降低物流边际成本，提升运营稳定性</li>
           <li>共享头程、干线；末端本地化派送</li>
           <li>抱团“取暖”，共享专线电商物流美好前景</li>
         </ul>
          <div class="clear"></div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 mailwr hidden-xs"><img src="__PUBLIC__/home/images/spe_img.jpg" width="100%" class="expic" /></div>
    </div>
  </div>
</div>

<!--<div class="mail_two">
  <div class="container">
    <div class="mail_title">报价详情</div>
    <table class="tbl_basic tbl_rwd">
		<colgroup>
		  <col style="width:28%;">
		  <col style="width:18%;">
		  <col style="width:18%;">
		  <col style="width:18%;">
		  <col style="width:18%;">
		</colgroup>
		<thead>
		  <tr>
			<th scope="col">重量段(g）</th>
			<th scope="col">首重 (RMB/500g)</th>
			<th scope="col">续重 (RMB/500g)</th>
			<th scope="col">处理费 (RMB/票)</th>
			<th scope="col">时效 （工作日）</th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
			<th scope="row">0-100</th>
			<td></td>
			<td></td>
			<td>30.5</td>
			<td>8-12天</td>
		  </tr>
		  <tr>
			<th scope="row">101-200</th>
			<td></td>
			<td></td>
			<td>41</td>
			<td>8-12天</td>
		  </tr>
		  <tr>
			<th scope="row">201-300</th>
			<td></td>
			<td></td>
			<td>53.5</td>
			<td>8-12天</td>
		  </tr>
		  <tr>
			<th scope="row">301-400</th>
			<td></td>
			<td></td>
			<td>61</td>
			<td>8-12天</td>
		  </tr>
		  <tr>
			<th scope="row">401-500</th>
			<td></td>
			<td></td>
			<td>74</td>
			<td>8-12天</td>
		  </tr>
		  <tr>
			<th scope="row">501-30000</th>
			<td>74</td>
			<td>55</td>
			<td>0</td>
			<td>8-12天</td>
		  </tr>
		  

		</tbody>
	  </table>
	  
  </div>
</div>-->

<div class="mail_three">
  <div class="container">
    <div class="mail_title">情况说明</div>
    <div class="spe_main">
		<div class="spe_main_wen">
			<p>1. 出发地：广州，深圳</p>
		</div>
		<div class="spe_main_wen">
			<p>2. 尺寸、体积重要求：</p>
			<div class="spe_main_wen2">
			    <p>(1) 最长边超过68CM，或其他边任意一边超过43CM，加收超长附加费RMB28.5/票;</p>
				<p>(2) 尺寸限制：长+宽*2+高*2≤274CM;</p>
				<p>(3) 体积重=长*宽*高/5000，计全泡；</p>
			</div>
		</div>
		<div class="spe_main_wen">
			<p>3. 重量要求：1-30000g;</p>
		</div>
		<div class="spe_main_wen">
			<p>4. 申报价值：≤800美金, 不接受同一个收件人名且同一地址，当天累计包裹申报价值超过800美金;</p>
		</div>
		<div class="spe_main_wenbold">
			<p>5. 走货属性：可接受带电货物(功率≤100WH）；不接受纯电，严禁发运侵权、仿牌、危险品等违禁品，如查出直接销毁，不设退回；</p>
		</div>
		<div class="spe_main_wenred">
			<p>6. 此渠道不支持退件、重派，所填写/推送的派送地址请务必正确；</p>
		</div>
		<div class="spe_main_wenbold">
			<p>7. 本渠道不接受：</p>
			<div class="spe_main_wen2">
			    <p>(1) 食品、管制刀具、带有液体、粉末类、原木制商品或含有木的商品、危险品（例：打火机、易燃易爆品等）激光笔、头盔等产品;</p>
				<p>(2) 品牌涉及协会、组织等备案并授权的商品及标识，必须提供授权书；</p>
				<p>(3) 外观设计、品牌、带蓝牙标识产品、含有国际动漫卡通人物图案的侵权产品（例如蓝牙Bluetooth，HDMI，灯类带有CERR字样 等产品）；</p>
				<p>(4)中国海关知识产权有备案商品（中国海关有备案品牌查询地址：http://202.127.48.151/applyrecord/）；</p>
				<p>(5) 如查出有发违禁物品，违禁货物一律没收，运费不予退还。</p>
			</div>
		</div>
		<div class="spe_main_wenbold">
			<p>8. 服务区域：美国本土，外岛、阿拉斯加、军事基地等不可发货，详细请看邮编分区内禁发的邮编列表；</p>
		</div>
		<div class="spe_main_wenbold">
			<p>9. 赔偿标准：</p>
			<div class="spe_main_wen2">
			    <p><b>(1) 查询时限</b>：发货后50天内必须提出申请；</p>
				<p><b>(2) 赔偿受理时间</b>：因各种原因产生的赔偿问题，客户需在发货后30个工作日内提出申请，超过30个工作日不再受理；</p>
				<p>(3) 因客户提供数据与实际物品（包含但不限于品名、品牌、数量、价值）不符或货物本身的问题导致的无法清关，不予赔偿；</p>
				<p><b>(4) 赔偿标准：</b></p>
				<div class="spe_main_wen2">
				    <p>① 若货物确定丢失，经我司确认丢件后，将不退运费，按申报价值赔偿（申报价值部分赔偿最高不超过RMB100/票）；</p>
					<p>② 此产品不具有签名签收服务，因此若是服务商官网显示签收，但客户说没有收到包裹的情况，我司会协助查询，但不提供赔偿；</p>
					<p>③ 易碎品自行包装，损坏不予赔偿，发货代表默认本规定；</p>
					<p>④ 因不可抗力因素（罢工/战争/自然灾害/海关因素/政府行为等）造成的时效延误或货物损毁/丢失等情况，不承担责任；</p>
					<p>⑤ 以我司入库扫描视为已收到货物，否则不予赔偿；</p>
					<p>⑥ 若由于客户原因，寄送我司明确限定的物品以及价值的错误申报后导致国内海关查收、国外海关查验的罚没。</p>
				</div>
				<p><b>(5) 赔偿所需资料要求：</b></p>
				<div class="spe_main_wen2">
					<p>A. 服务商确认丢件的，需提供：</p>
					<div class="spe_main_wen2">
						<p>① 电商平台的网上退款截图；</p>
						<p>② 若在未退款情况下安排的货物补寄，需提交网上交易截图+争议内容+补寄单号；</p>
					</div>
					<p>B. 包裹在我司中转过程中丢失，即末端服务商未提取，不需要提供证明资料。</p>

				</div>
			</div>
		</div>

	</div>
	<p class="spe_zhuyi">*&nbsp;特别提示：如客户一旦同意接受我公司服务，即认为客户已详细阅读过此价格表备注内容以及我司托运条款，并接受各条款的约束。</p>  
	<p class="spe_zhuyi">*&nbsp;不接受防疫物资</p>  
	  
  </div>
</div>
</div>

</main>
<!-- /Main -->
        {include file="public/footer"}
</html>