<!DOCTYPE html>
<html>
<head>
    <title>文章修改</title>
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
</head>

<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" action="?" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label">文章标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="title"  required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                        <label class="layui-form-label">类型</label>
                        <div class="layui-input-block">
                            <select name="type" lay-verify="required">
                                <option value=""></option>
                                <option value="1" >产品文章</option>
                                <option value="2" >其他文章</option>
                            </select>
                        </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">国家</label>
                    <div class="layui-input-block">
                        <select name="country" lay-verify="required">
                            {volist name="country" id="vc"}
                            <option value="{{$vc.country_code}}">{{$vc.country_name}}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-col-xs6">
                        <label class="layui-form-label">类目</label>
                        <div class="layui-input-block">
                            <input type="radio" name="category" value="1" checked title="欧洲铁路小包">
                            <input type="radio" name="category" value="2" title="欧美特快专线">
                            <input type="radio" name="category" value="3" title="欧美专线"><!--checked-->
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <label class="layui-form-label">时效</label>
                        <div class="layui-input-block">
                            <input type="text" name="aging"   placeholder="请输入时效" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <!--<div class="layui-form-item">
                    <label class="layui-form-label">类目</label>
                    <div class="layui-input-inline">
                        <input type="password" name="category" placeholder="请输入类目" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">类目可不填。如果首页需展示请填写产品大类。例：填写“欧美特快专线”，文章将在欧美特快专线类目下展示。</div>
                </div>-->

                <!--<div class="layui-form-item">
                    <label class="layui-form-label">展示</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="is_show" lay-skin="switch" checked>
                    </div>
                </div>-->
                <div class="layui-form-item">
                    <label class="layui-form-label">缩略图</label>
                    <div class="layui-input-block">
                        <input name="thumbnail" type="hidden" >
                        <button type="button" class="layui-btn" id="thumbnail">
                            <i class="layui-icon">&#xe67c;</i>上传图片
                        </button>
                        <span style="color:red"></span>
                        <div class="layui-collapse" lay-accordion="" style="width: 112px;text-align: center;vertical-align: center;display: none;">
                            <img id="logo" />
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">内容</label>
                    <div class="layui-input-block">
                        <textarea id="content" style="display: none;"></textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn ajax-post" lay-submit="" lay-filter="buttonSubmit" target-form="form-horizontal">提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/layuiadmin/layui/layui.js"></script>
<script>
    layui.use(['layer','jquery','form','layedit','upload'], function(){
        var $ = layui.jquery;
        var form = layui.form;
        var layedit = layui.layedit;
        var upload = layui.upload;
        var edindex = layedit.build('content'); //建立编辑器
        //执行实例
        var uploadInst = upload.render({
            elem: '#thumbnail' //绑定元素
            ,url: '{{:url("admin/info/pic_upload")}}' //上传接口
            ,accept:'images'
            ,size:'5120'//5mb
            ,number:1
            ,choose:function(obj){

            }
            ,done: function(res){
                //上传完毕回调
                $('#logo').parent().show();
                $('#thumbnail').next("span").html('成功');
                $('#thumbnail').prev("input").val(res.savename);
                $('#logo').attr('src',res.savename);
            }
            ,error: function(){
                //请求异常回调
                layer.msg('上传失败！' + index, {icon: 5});
            }
        });

        form.on('submit(buttonSubmit)', function (data) {
            form.verify({
                category:function (value,item) {
                    if(!value){
                        return '请选择类目！'
                    }
                },})
            var title = $("input[name='title']").val();
            var type = $("select[name='type']").val();
            var aging = $("input[name='aging']").val();
            var country = $("select[name='country']").val();
            var category = $("input[name='category']:checked").val();
            var thumbnail = $("input[name='thumbnail']").val();
            var content = layedit.getContent(edindex);

            $.post('{{:url("admin/info/article_add")}}',
                {
                    title:title,
                    is_show:1,
                    type:type,
                    aging:aging,
                    country:country,
                    category:category,
                    thumbnail:thumbnail,
                    content:content,
                },
                function (result) {
                    if (result.code == 1) {
                        layer.msg(result.msg,{time:3000},function () {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                            parent.window.reload();
                        });
                    } else {
                        layer.msg(result.msg);
                    }
                })
            return false;
        })
    })
</script>
</body>
</html>