<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
<meta http-equiv="cache-control" content="no-store" />
<title>Tianzhong International-Supply Chain Service</title>
<link rel="shortcut icon" href="images/logo.ico" />
<link rel="stylesheet" type="text/css" href="css/cm.import.css" />
<link rel="stylesheet" type="text/css" href="css/cm.main.css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/theme.css">
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>


</head>
<body>

<div id="wrap" class="main">
  <div id="dvContainer">   
  <script type="text/javascript" src="js/cm.GNB.ui.js"></script> 
    <div id="headerWrap">
      <div id="header">
        <div id="util_wrap"> 
          <a href="index.html"><img src="images/img_logo.jpg" alt="" /></a>
          <div id="util" class="navright">
           <ul class="quick_menu">
              <li><a href="service.html">About Tianzhong</a></li>
              <li><a href="pfcexpress.html">Supply Chain Service</a>
                <ul>
                   <li><a href="mail.html">Direct Import</a></li>
                   <li><a href="bonded.html">Bonded Imports</a></li>
                   <li><a href="express.html">Express Personal Items</a></li>
                   <li><a href="e-mail.html">Mail Personal Belongings</a></li>
                   <li><a href="pricequery.html">Express Freight Inquiry</a></li>
                </ul>
              </li>
              <li><a href="cloud.html">YunCang Profile</a></li>
              <li><a href="http://erpexport.mttlm.com/purchasing/base/register.html" target="_blank">Application In</a></li>
              <li><a href="http://erpexport.mttlm.com/purchasing/base/login.html" target="_blank">YunCang Login</a></li>
             <li><a href="query.html">Express Inquiry</a></li>

           </ul>
          </div>
          <ul class="conn_language">
            <li><img src="images/linkmap.jpg"></li> 
            <li><a href="../index.html"><img src="images/linkdot2.jpg" align="middle" onmouseover="this.src='images/linkdot1-2.jpg'" onmouseout="this.src='images/linkdot2.jpg'"></a></li>
            <li><a href="index.html"><img src="images/linkdot1.png" align="middle" onmouseover="this.src='images/linkdot1-1.jpg'" onmouseout="this.src='images/linkdot1.png'"></a></li>
            <div class="clear"></div>
          </ul>
        </div>
      </div>
    </div><!--header结束-->
    
    <div class="bann"><img src="images/ser01.jpg" width="100%" /></div>

    <div id="layerarea">

<!--Main-->
<main class="main-container">

<div class="warpper">
<div class="ser hidden-xs">
  <ul class="ser_title ser_title2">       
    <li><a href="mail.html">Direct Import</a></li>
    <li class="active"><a href="bonded.html">Bonded Imports</a><i class="fa fa-angle-down ser_down"></i></li>
    <li><a href="express.html">Express Personal Items</a></li>
    <li class="mail_lastchild"><a href="e-mail.html">Mail Personal Belongings</a></li>
    <div class="clear"></div>
  </ul>
</div> 

<div class="service_liu visible-xs">
  <ul>
    <li><i class="fa fa-home"></i>Home</li>
    <li><i class="fa fa-angle-double-right"></i>Our Service</li>
    <li class="service_lac"><i class="fa fa-angle-double-right"></i>Bonded Imports</li>
  </ul>
</div> 

<div class="mail">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-7">
        <div class="mail_main">
          <div class="mail_title">Bonded Imports</div>
          <p>Imported B2B2C services, mainly for cross-border e-commerce platform, provide integrated services for transportation from abroad, domestic bonded areas for stocking, bonded warehousing, and customs clearance, sorting, packaging and delivery directly from bonded warehouses when orders are generated.</p>
          <p>Imported B2B2C services are carried out in the form of “in bulk batches, distributed”; the whole batch of imported goods is filed with the customs through the Tianzhong International Integrated Service Platform and declared to enter the Customs Bonded Zone; “Distributed” is cross-border electricity. The merchants will send the orders generated after the personal online shopping to the Tianzhong service platform, and the platform will immediately declare to the customs to realize the automatic electronic customs clearance. After the customs clearance is successful, the bonded warehouse will be shipped out of the order and dispatched.</p>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5"><img src="images/bon01.jpg" width="100%" class="bondedimg" /></div>
    </div>
  </div>
</div>

<div class="mail_two">
  <div class="container">
    <div class="mail_title">Service Process</div>
    <img src="images/liucheng2.png" width="100%" class="hidden-xs" />
    <img src="images/liuch2.png" width="100%" class=" visible-xs" />
  </div>
</div>

<div class="bonded_two">
  <div class="container">
    <div class="mail_title">Service Composition</div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="bonded_ico"><img src="images/serve-goucheng01.png" /></div>
        <div class="bonded_wen">
          <h4>Overseas receipt</h4>
          <p>Professionally provide overseas warehousing for receiving goods</p>
        </div>
        <div class="clear"></div>
      </div>
      
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="bonded_ico"><img src="images/serve-goucheng02.png" /></div>
        <div class="bonded_wen">
          <h4>Overseas clearance</h4>
          <p>Help overseas customs clearance</p>
        </div>
        <div class="clear"></div>
      </div>
      
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="bonded_ico"><img src="images/serve-goucheng03.png" /></div>
        <div class="bonded_wen">
          <h4>International Transport</h4>
          <p>Provide a variety of transportation methods to transport goods to the country</p>
        </div>
        <div class="clear"></div>
      </div>
      
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="bonded_ico"><img src="images/serve-goucheng04.png" /></div>
        <div class="bonded_wen">
          <h4>Stock declaration</h4>
          <p>Help the company to prepare for customs declaration through the system</p>
        </div>
        <div class="clear"></div>
      </div>
      
    </div>
    
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="bonded_ico"><img src="images/serve-goucheng05.png" /></div>
        <div class="bonded_wen">
          <h4>Bonded warehousing</h4>
          <p>Providing bonded warehouse services</p>
        </div>
        <div class="clear"></div>
      </div>
      
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="bonded_ico"><img src="images/serve-goucheng06.png" /></div>
        <div class="bonded_wen">
          <h4>Sorting packaging</h4>
          <p>Provide sorting, packaging, labeling and other services</p>
        </div>
        <div class="clear"></div>
      </div>
      
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="bonded_ico"><img src="images/serve-goucheng07.png" /></div>
        <div class="bonded_wen">
          <h4>Electronic clearance</h4>
          <p>Fast entry clearance through the system</p>
        </div>
        <div class="clear"></div>
      </div>
      
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="bonded_ico"><img src="images/serve-goucheng03.png" /></div>
        <div class="bonded_wen">
          <h4>Domestic delivery</h4>
          <p>Provide domestic delivery</p>
        </div>
        <div class="clear"></div>
      </div>
      
    </div>
    
  </div>
</div>

<div class="mail_three">
  <div class="container">
    <div class="mail_title">Service Ddvantage</div>
    <div class="mail_thmain row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h4 class="mail_thmainl">More efficient</h4>
        <div class="mail_thmainr">
          <h5>Same day clearance, same day delivery</h5>
          <p>Compared with traditional users, after purchasing directly from overseas, after a long wait to receive the goods, Tianzhong Service can clear the goods on the same day after the user places the order and concentrate the delivery on the same day, the efficiency is increased several times, greatly improving the user experience. And word of mouth.</p>
        </div>
        <div class="clear"></div>
      </div>
      
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h4 class="mail_thmainl">Streamlined process</h4>
        <div class="mail_thmainr">
          <h5>The process is simpler and clearer, easy to operate and easy to control</h5>
          <p>The overall process of Tianzhong Service is clear and simple, easy to operate, and the whole process is controlled by the relevant personnel of Tianzhong. It is no more than the traditional whole process, and it requires a lot of professional operation and management. It is easy to appear when it is careless. Wrong, Tianzhong one-stop service makes you worry-free.</p>
        </div>
        <div class="clear"></div>
      </div>
      
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h4 class="mail_thmainl">Faster clearance</h4>
        <div class="mail_thmainr">
          <h5>Full electronic clearance, clearance in 5 minutes</h5>
          <p>Since the customs clearance is handled directly by the customs system, and the customs clearance products have been pre-recorded for the goods, the automatic release is adopted throughout the whole process, which is several times more efficient than the traditional customs clearance method. This also ensures that users get faster. Shopping products greatly enhance the user experience.</p>
        </div>
        <div class="clear"></div>
      </div>
      
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h4 class="mail_thmainl">Standard safety</h4>
        <div class="mail_thmainr">
          <h5>Full support for the new policy in customs operation, safety norms</h5>
          <p>n the past, cross-border merchandise shopping was carried out by means of express delivery, parcels, etc., and the efficiency was low and limited to customs declaration. The number of single customs was limited, and a considerable proportion of illegal entry methods were used to enter the country. There were legal risks and the goods could not be guaranteed. Effective customs clearance time, the overall risk is passed on to users, which is unfavorable.</p>
        </div>
        <div class="clear"></div>
      </div>
      
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h4 class="mail_thmainl">Full system</h4>
        <div class="mail_thmainr">
          <h5>Full system docking and tracking, efficient and easy to control</h5>
          <p>While providing high-efficiency and low-cost import services, Tianzhong has developed Tianzhong's cross-border e-commerce integrated service platform, which can transmit order instructions, customs clearance orders, stocking instructions, etc. in real time through the system API interface, and can return goods in real time. And the status of the order, easy to settle, dock, and control.</p>
        </div>
        <div class="clear"></div>
      </div>
      
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h4 class="mail_thmainl">Lower cost</h4>
        <div class="mail_thmainr">
          <h5>Lower shipping costs, lower operating costs, lower clearance fees, lower delivery costs, lower taxes</h5>
          <p>Compared with the past, the method of importing through general trade has eliminated tariffs and value-added tax, and only pays extra tax and exemption for postal tax. It can also save most of the freight by means of overseas air transportation, China-Hong Kong and other modes of transportation. At the same time, operating fees and customs clearance fees are lowest.</p>
        </div>
        <div class="clear"></div>
      </div>
      
      
    </div>
  </div>
</div>

<div class="bonded_four">
  <div class="container">
    <div class="mail_title bonded_fourm">Application Scenario</div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="col-lg-7 col-md-7 col-sm-7">
           <p class="bonded_ff">It is necessary to import foreign products to the domestic e-commerce enterprise that sells online and finally delivers the goods to the users. For example, e-commerce platforms that operate imported products, independent e-commerce websites, and Taobao Tmall companies that sell imported products.</p>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 bonded_ffimg"><img src="images/bon02.png" width="100%" /></div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 bonded_fbg">
       <div class="col-lg-7 col-md-7 col-sm-7">
          <p class="bonded_ff2">Foreign companies that transport products to China and require goods clearance and distribution services. For example, foreign e-commerce platforms.</p>
       </div>
       <div class="col-lg-5 col-md-5 col-sm-5 bonded_ffimg"><img src="images/bon03.png" width="100%" /></div>
    </div>
    </div>
    
    <div class="row hidden-xs">
      <div class="col-lg-6 col-md-6 col-sm-6 bonded_fbg">
        <div class="col-lg-5 col-md-5 col-sm-5 bonded_ffimg"><img src="images/bon04.png" width="100%" /></div>
        <div class="col-lg-7 col-md-7 col-sm-7">
           <p class="bonded_ff3">E-commerce companies that need to increase the speed of import clearance and reduce costs.</p>
        </div>
        
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="col-lg-5 col-md-5 col-sm-5 bonded_ffimg"><img src="images/bon05.png" width="100%" /></div>
       <div class="col-lg-7 col-md-7 col-sm-7">
           <p class="bonded_ff4">Any other e-commerce platform or enterprise that needs transportation, storage, customs clearance, and distribution services for imported goods.</p>
       </div>
       
    </div>
    </div>
    
    <!--手机端-->
    <div class="row visible-xs">
      <div class="col-lg-6 col-md-6 col-sm-6 bonded_fbg">
        <div class="col-lg-7 col-md-7 col-sm-7">
           <p class="bonded_ff3">E-commerce companies that need to increase the speed of import clearance and reduce costs.</p>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 bonded_ffimg"><img src="images/bon04.png" width="100%" /></div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
       <div class="col-lg-7 col-md-7 col-sm-7">
           <p class="bonded_ff4">Any other e-commerce platform or enterprise that needs transportation, storage, customs clearance, and distribution services for imported goods.</p>
       </div>
       <div class="col-lg-5 col-md-5 col-sm-5 bonded_ffimg"><img src="images/bon05.png" width="100%" /></div>
    </div>
    </div>
    <!--手机端-->
 
  </div>
</div>


<div class="bonded_five">
  <div class="container">
    <div class="mail_title">Common Problem</div>
    <div class="bonded_fivem">
      <h4>How to implement automatic customs clearance?</h4>
      <p>The Tianzhong cross-border e-commerce integrated service platform adopts the direct connection with the customs system to handle customs clearance, and the customs clearance products have been pre-recorded for commodity disposal. Therefore, the automatic release is adopted throughout the whole process, which is several times more efficient than the traditional customs clearance method. It also ensures that users get the products they purchase faster, greatly improving the user experience.</p>
    </div>
    <div class="bonded_fivem">
      <h4>Which couriers are delivered?</h4>
      <p>Tianzhong and many international and domestic well-known express dealers have many years of partnerships, and can choose the corresponding courier service providers to deliver according to the needs of enterprises.</p>
    </div>
    
  </div>
</div>


</div>

</main>
<!--/Main-->
                
              
              
 <script type="text/javascript">
	$(function(){
		// Focus
		$(this).on('keydown', '.family_site a:last', function(event){
			var isShift = window.event.shiftKey ? true : false;		
			
			if( !isShift && event.keyCode == 9){									
				$('.family_site a:first').focus();			
				return false;
			}
		});
			
		$(this).on('keydown', '.family_site a:first', function(event){
			var isShift = window.event.shiftKey ? true : false;		
			if( isShift && event.keyCode == 9){
				setTimeout(function(){				
					$('.family_site a:last').focus();
				},15);
				return false;
			}
		});
		
		// 
		$('.footer_info_wrap .btn_layer').on('click', function(e){
			e.preventDefault();
			var status = $(this).hasClass('on');
			if ( !status ){
				$(this).addClass('on');
				$(this).next().show();		
			}		
		});
		 
		// 
		$('.family_site .btn_close').on('click', function(e){
			e.preventDefault();		
				
			$(this).parent().hide();		
			$('.footer_info_wrap .btn_layer').removeClass('on').focus();
				
		});
	});
	</script>
<style>
.info_box {position:fixed;right:20px;bottom:-360px;z-index:10;}
.info_box * {line-height:20px;}
.info_box.logout #info_footer .today {display:none;}
#info_wrap {position:relative;width:326px;}
#info_wrap .info_close > a {position:absolute;top:24px;right:28px;display:block;width:16px;height:16px;background:url(images/ico_close.png) no-repeat;font-size:0;line-height:0;}
#info_header {background:url(images/img_info_pop01.png) no-repeat;height:59px;}
#info_header h3 {padding:23px 28px;font-size:14px;font-weight:bold;color:#fff;}
#info_content {padding:30px 0 17px;background:url(images/img_info_pop02.png) repeat-y;}
#info_content * {text-align:center;}
#info_content .info_title {margin:12px 0 7px;font-size:16px;font-weight:bold;color:#222;line-height:24px;}
#info_content .info_btn {margin-top:13px;height:27px;}
#info_content .info_btn > a {display:inline-block;height:26px;line-height:26px;padding:0px 14px;border:1px solid #bbb;background:#f9f9f9;color:#444;}
.msie #info_content .info_btn > a {line-height:30px;}
#info_footer {padding:0 9px; background:url(images/img_info_pop03.png) 0 bottom no-repeat;min-height:25px;}
#info_footer .today {position:relative;padding:10px 20px 20px;border-top:1px solid #ebebeb;}
#info_footer .today > a {position:absolute;right:20px;font-weight:bold;color:#444;}
#footer .footer_quick_menu .quick_wrap ul.quick_menu2 li.active a {font-weight:bold;color:#0059a6;}
</style>
          
   <!--include area start -->
   <div id="footerWrap">
        <div id="footer">
          <div class="footer_info_wrap">
            <ul class="footer_info">
                      <li>Add:<span>Rm 1402,Yuanmao Mansion,No.1 Wenerxi Road, Xihu,Hangzhou</span></li>
                      <li>Phone:<span>0571-88890244</span></li>
                      <li>E-mail:<span>business@easytochina.net</span></li>
                    </ul>
            <ul class="sns_wrap">
                      <!--<li class="facebook"><a href="#" target="_blank">QQ</a></li>-->
                      <li class="twitter">
                        <a href="#" target="_blank">Weibo</a>
                        <img src="images/weibo.png" class="erweima" />
                      </li>
                      <li class="blog">
                        <a href="#" target="_blank">Weixin</a>
                        <img src="images/weixin.png" class="erweima2" />
                      </li>
                    </ul>
            <a href="#" class="btn_layer"><img src="images/btn_footer_layer.jpg"/></a>
            <div class="family_site">
               <dl>
                <dt>Cooperative Partner</dt>
                <dd> 
                  <ul>
					<li><a href="#">Tmall</a></li>
					<li><a href="#">Xiao Hong Shu</a></li>
					<li><a href="#">You Zan</a></li>
					<li><a href="#">Dian Dian Duo</a></li>
                    <li><a href="http://www.mttlm.cn/" target="_blank">Ma Tao Tao Hai shopping</a></li>
                    
                  </ul>
                        </dd>
              </dl>
                <dl class="half">
                <dt>Undertakings</dt>
                <dd>
                  <ul>
                    <li><a href="http://www.euchina.eu" target="_blank">Association Europe Chine du Commerce Transfrontalier</a></li>
                    <li><a href="http://www.teams-park.net" target="_blank">Teams park(International entrepreneurial team incubator)</a></li>
                  </ul>
                        </dd>
                <dd>
               </dd>
              </dl>
              
              <dl>
                <dt>Business city system</dt>
                <dd>
                  <ul>
                    <li><a href="http://www.mttlm.com" target="_blank">Ma Tao Tao Hai shopping</a></li>
                    <li><a href="http://www.vixshop.cn" target="_blank">Urban electric business</a></li>
                    <li><a href="http://debug.t-cang.com/vixmall/cloudwarehouse" target="_blank">Cloud storehouse</a></li>
                  </ul>
                 </dd>
           
              </dl>
                      <a href="#" class="btn_close">Close</a> </div>
          </div>
                  <!-- //footer_info_wrap -->
                  
          <div class="footer_quick_menu">
            <div class="footer_logo"><img src="images/ico_footer_logo.png"/></div>
            <div class="quick_wrap">
                      
               <ul class="quick_menu2">
                <li><a href="mail.html">Direct Import</a></li>
                <li><a href="bonded.html">Bonded Imports</a></li>
                <li class="active"><a href="express.html">Express Personal Items</a></li>
                <li><a href="e-mail.html">Mail Personal Belongings</a></li>
                <li><a href="service.html">Supply Chain Service</a></li>
                <li class="active"><a href="http://erpexport.mttlm.com/purchasing/base/register.html" target="_blank">Application In</a></li>
                <li><a href="cloud.html">YunCang Profile</a></li>
                <li><a href="service.html">About Tianzhong</a></li>  
              </ul>
                      <p class="copyright">Copyright © Tianzhong All Rights Reserved&nbsp;&nbsp;Hangzhou Tian Zhong Supply Chain Management Co., Ltd. all rights reserved.&nbsp;&nbsp;Zhejiang ICP prepare No. 15042493 -2</p>
                    </div>
            
          </div>
                </div>
      </div>
      
     </div><!--layerarea结束-->
  </div><!--dvContainer结束-->
	
	
<!--右侧浮动样式-->
     <div class="float">

        <div class="float_erweima" style="display: none;">
			<p>
				<img src="images/float/erweima2.jpg" alt="">
			</p>
		 </div>

        <ul id="toTopUl">
            <li><a class="flo_1" target="_top" href="javascript:void(0);"><span class="ke_tit">QQ</span></a></li>
            <li><a class="flo_2" href="javascript:void(0);" style="font-size: 12px; width: 70px; opacity: 1;"><span class="ke_tit">Telephone</span><span class="ke_info">0571-88890244</span></a>
			</li>
            
            <li><a class="flo_w" href="javascript:void(0);" onmouseover="showCode();" onmouseout="hideCode();"><span class="ke_tit" style="top: 36px;">Official Accounts</span></a></li>
		 </ul>
        </div>
	  <!--右侧浮动样式-->
	 
 </div>
	
</body>
<!--右侧浮动js-->
<script type="text/javascript">

        opentop();
        function opentop(){
            var topTop = "<li id = 'addtotop'><a class = 'flo_4' style = 'cursor: pointer;'><span class='ke_tit'>Return</span></a></li>"
            $(window).bind('scroll' ,function(event){
                var topHeight = $(document).scrollTop();
                if(topHeight >= 200){
                    if($("#toTopUl").find("#addtotop").length == 0){
                        $("#toTopUl").append(topTop);
                        addtotop();
                    }else{
                        return;
                    }
                }else{
                    $("#toTopUl li:eq(3)").remove();
                }
            });
        }
        function addtotop(){
            $("#addtotop").bind('click',function(){
                $("#toTopUl li:eq(3)").remove();
                $(window).unbind();
                $('html, body').animate({scrollTop:0}, '1000');
                setTimeout('opentop()',500);
            });
        }

        function showCode(){
            $(".float_erweima").show();
            
        }
        function hideCode(){
            $(".float_erweima").hide();
            $(".float_erweima").css("background","");
        }
               
        $(function () {
            $('#toTopUl > li').hover(function () {
                $(this).find('.flo_2').stop().animate({"width": "180px"}, 200).css({
                    "opacity": "1",
                    "filter": "Alpha(opacity=100)",
                    "background-position": "15px 6px",
                });
            }, function () {
                $(this).find('.flo_2').stop().animate({"width": "70px"}, 200).css({
                    "opacity": "1",
                    "filter": "Alpha(opacity=100)",
                    "background-position": "center 6px",
                });
            });
        });
</script>
<!--右侧浮动js-->
<script language="JavaScript">
$(window).load(function(){
	//二级导航
	$('.navright>ul>li').hover(function(){
	$(this).find('ul').stop(true).slideDown(600);
	},function(){
		$(this).find('ul').stop(true).slideUp(600);
		})

})

</script>
</html>