<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
<meta http-equiv="cache-control" content="no-store" />
<title>Tianzhong International-Supply Chain Service</title>
<link rel="shortcut icon" href="images/logo.ico" />
<link rel="stylesheet" type="text/css" href="css/cm.import.css" />
<link rel="stylesheet" type="text/css" href="css/cm.main.css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/theme.css">
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>


</head>
<body>

<div id="wrap" class="main">
  <div id="dvContainer">   
  <script type="text/javascript" src="js/cm.GNB.ui.js"></script> 
    <div id="headerWrap">
      <div id="header">
        <div id="util_wrap"> 
          <a href="index.html"><img src="images/img_logo.jpg" alt="" /></a>
          <div id="util" class="navright">
           <ul class="quick_menu">
              <li><a href="service.html">About Tianzhong</a></li>
              <li><a href="pfcexpress.html">Supply Chain Service</a>
                <ul>
                   <li><a href="mail.html">Direct Import</a></li>
                   <li><a href="bonded.html">Bonded Imports</a></li>
                   <li><a href="express.html">Express Personal Items</a></li>
                   <li><a href="e-mail.html">Mail Personal Belongings</a></li>
                   <li><a href="pricequery.html">Express Freight Inquiry</a></li>
                </ul>
              </li>
              <li><a href="cloud.html">YunCang Profile</a></li>
              <li><a href="http://erpexport.mttlm.com/purchasing/base/register.html" target="_blank">Application In</a></li>
              <li><a href="http://erpexport.mttlm.com/purchasing/base/login.html" target="_blank">YunCang Login</a></li>
               <li><a href="query.html">Express Inquiry</a></li>

           </ul>
          </div>
          <ul class="conn_language">
            <li><img src="images/linkmap.jpg"></li> 
            <li><a href="../index.html"><img src="images/linkdot2.jpg" align="middle" onmouseover="this.src='images/linkdot1-2.jpg'" onmouseout="this.src='images/linkdot2.jpg'"></a></li>
            <li><a href="index.html"><img src="images/linkdot1.png" align="middle" onmouseover="this.src='images/linkdot1-1.jpg'" onmouseout="this.src='images/linkdot1.png'"></a></li>
            <div class="clear"></div>
          </ul>
        </div>
      </div>
    </div><!--header结束-->
    
    <div class="bann"><img src="images/ser01.jpg" width="100%" /></div>

    <div id="layerarea">
<!-- Main -->
<main class="main-container">
  <div class="container serbox">
    <div class="suppbox">

      <div class="row">
  	    <div class="col-md-6 col-md-offset-3">
      		<header class="text-center">
      		 <h2 class="section-title">The channel<span class="text-theme">&nbsp;prices</span></h2>
      		 <!-- <p class="section-subtitle">The channel prices</p> -->
      		</header>
  	    </div>
      </div>
    
    <!--价格查询-->
     <div id="pricing">
                <div class="containers">
                    <div class="rows">
                           
            	<div class="pricing-table col-md-3 col-sm-6 col-xs-12">
                	<div class="inner-box wow fadeIn">
                    	<div class="table-header">
                            <div class="icon-right"><span class="flaticon-badge"></span></div>
                        	<h3 class="price">Price query</h3>
                            <h4 class="title">Safety and stability, price transparency</h4>
                        </div>
                        
                        <div class="table-contents">
                        	
                     
                          <div class="form-horizontal">

                                            <div class="form-group" >

                                                <label class="col-lg-3 control-label" for="inputEmail1" style=" width:42px; float:left;">从:</label>
                                                <div class="col-lg-4" style="width:67px; float:left;">
                                                   
                                                        <input name="txtStartCount" type="text" value="China" id="txtStartCount" disabled="disabled" class="form-control" style="width:67px;" />
                                                </div>
                                                <label class="col-lg-3 control-label" for="inputEmail1"  style=" width:42px;float:left;">To：</label>
                                                <div class="col-lg-4" style="width: 112px;float:left;">
                                                    <input name="TargetCountry" type="text" id="TargetCountry" onfocus="this.blur()" value="please choose" class="form-control" />
                                                       
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label class="col-lg-4 control-label" for="inputEmail1" style="width:52px; float:left; padding: 7px 0 0;">weight:</label>
                                                <div class="col-lg-4" style="width:115px; float:left;">
                                                  
                                                    <input name="txtStage" type="text" id="txtStage" value="1" class="form-control" />
                                                </div>
                                                <div class="col-lg-3 control-label" style=" width:42px; float:left;">kg</div>


                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label" for="inputEmail1" style="width:52px; float:left;  padding: 7px 0 0;">volume:</label>
                                                <div class="col-lg-2 pfc_input" style="float:left; width:50px;">
                                                  
                                                        <input name="txtLong" type="text" id="txtLong" onfocus="if(this.value == this.defaultValue) this.value = &#39;&#39;;" onBlur="if(this.value == &#39;&#39;) this.value = this.defaultValue;" value="1" class="form-control" />
                                                </div>
                                                <div class="col-lg-2 pfc_input" style="float:left; width:50px;">
                                                  
                                                         <input name="txtWidth" type="text" id="txtWidth" onfocus="if(this.value == this.defaultValue) this.value = &#39;&#39;;" onBlur="if(this.value == &#39;&#39;) this.value = this.defaultValue;" value="1" class="form-control" />
                                                </div>
                                                <div class="col-lg-2 pfc_input" style="float:left; width:50px;">
                                                   
                                                          <input name="txtHeight" type="text" id="txtHeight" onfocus="if(this.value == this.defaultValue) this.value = &#39;&#39;;" onBlur="if(this.value == &#39;&#39;) this.value = this.defaultValue;" value="1" class="form-control" /> 
                                                </div>
                                                <div class="col-lg-3 control-label" style="margin-left: -5px;width:42px; float:left;">cm</div>

                                            </div>
                                            <div class="form-group">

                                                <label class="col-lg-4 control-label" for="inputEmail1" style="width:62px; float:left;padding: 7px 0 0;">currency:</label>
                                                <div class="col-lg-4" style="float:left; width:130px;">
                                                    <select class="form-control">
                                                        <option>renminbi</option>

                                                    </select>
                                                </div>

                                            </div>

                                          

                                        </div>
                        </div>
                        
                        <div class="table-footer">
                            <input type="submit" name="btnSubmit" value="I'll check the price" onclick="return Check_price();" id="btnSubmit" class="theme-btn btn-style-three rounded-btn" style="background-color:#fd3c00;" />
                        	
                        </div>
                        
                    </div>
                </div>
                
               
            	<div class="pricing-table col-md-3 col-sm-6 col-xs-12">
                	<div class="inner-box wow fadeIn">
                    	<div class="table-header">
                        	<h3 class="price">Package tracking</h3>
                            <h4 class="title">Convenient customs clearance and full tracking</h4>
                        </div>
                        
                        <div class="table-content">
                        	
                            <textarea name="txtOrderNo" id="txtOrderNo" class="baoguo-input form-control" style="text-align:left;" onblur="LFocus();" onfocus="GetFocus();" rows="6" placeholder="Please enter the order number or tracking number, note: one single number per line."></textarea>
                        </div>
                        
                        <div class="table-footer">
                              <input type="submit" name="BtnSearch" value="I'll look it up" onclick="return Check();" id="BtnSearch" class="theme-btn btn-style-three rounded-btn" />

                        </div>
                        
                    </div>
                </div>
                
              
            	<div class="pricing-table col-md-3 col-sm-6 col-xs-12">
                	<div class="inner-box wow fadeIn">
                    	<div class="table-header">
                        	<h3 class="price">Send orders</h3>
                            <h4 class="title">Price concessions, timeliness and stability</h4>
                        </div>
                        
                        <div class="table-content">
                         
                             <img src="images/serach-fee.png" />
                        </div>
                        
                        <div class="table-footer">
                        	<a href="#" class="theme-btn btn-style-three rounded-btn">I want to delivery</a>
                        </div>
                        
                    </div>
                </div>
                
              
            	<div class="pricing-table col-md-3 col-sm-6 col-xs-12">
                	<div class="inner-box wow fadeIn">
                    	<div class="table-header">
                            <div class="icon-right"><span class="flaticon-medal"></span></div>
                        	<h3 class="price">Storage service</h3>
                            <h4 class="title">Convenient, quick and one-stop service</h4>
                        </div>
                        
                        <div class="table-content">
                        	 <img src="images/storage.png" />
                        </div>
                        
                        <div class="table-footer">
                        	<a id="alink" href="#"  class="theme-btn btn-style-three rounded-btn">Free warehousing</a>
                        </div>
                        
                    </div>
                </div>
                    </div>
                </div>
            </div>
    <!--价格查询-->
    <input type="hidden" name="HiValue" id="HiValue" />
        <!--floatbox begin-->
        <div class="fbt fb_1">
        	<div class="fbtitle">Please select destination country<a class="boxcolse" href="javascript:;">close</a></div>
        	<div class="search_bt"><input id="Content" class="sstext" type="text" value="" /><input class="ssbt" type="button" value="search" onclick="SearchCountry();" /></div>
            <div class="fbbox clearfix">
                <div class="fbtitle1">
                  <a href="javascript:;">A</a>
                  <a href="javascript:;">B</a>
                  <a href="javascript:;">C</a>
                  <a href="javascript:;">D</a>
                  <a href="javascript:;">E</a>
                  <a href="javascript:;">F</a>
                  <a href="javascript:;">G</a>
                  <a href="javascript:;">H</a>
                  <a href="javascript:;">I</a>
                  <a href="javascript:;">J</a>
                  <a href="javascript:;">K</a>
                  <a href="javascript:;">L</a>
                  <a href="javascript:;">M</a>
                  <a href="javascript:;">N</a>
                  <a href="javascript:;">O</a>
                  <a href="javascript:;">P</a>
                  <a href="javascript:;">Q</a>
                  <a href="javascript:;">R</a>
                  <a href="javascript:;">S</a>
                  <a href="javascript:;">T</a>
                  <a href="javascript:;">U</a>
                  <a href="javascript:;">V</a>
                  <a href="javascript:;">W</a>
                  <a href="javascript:;">X</a>
                  <a href="javascript:;">Y</a>
                  <a href="javascript:;">Z</a>
                </div>
                <div class="fbcontent">
                    <div class="fbctitle" id="Search" style="display:none;">The query results</div>
                     <ul class="fblist clearfix" id="SearchRes" style="display:none;"></ul>
                	<div class="fbctitle">Commonly used national</div>
                    <ul class="fblist clearfix" id="CommonCountry">
                    </ul>
                    <div class="tabcon clearfix">
                    	<div class="clearfix">
                            <div class="fbctitle1">A</div>
                            <ul class="fblist clearfix" id="A">
                            </ul>
                        </div>
                        <div class="clearfix">
                            <div class="fbctitle1">B</div>
                            <ul class="fblist clearfix" id="B">
                            </ul>
                        </div>
                        <div class="clearfix">
                            <div class="fbctitle1">C</div>
                            <ul class="fblist clearfix" id="C">
                            </ul>
                        </div>
                        <div class="clearfix">
                            <div class="fbctitle1">D</div>
                            <ul class="fblist clearfix" id="D">
                            </ul>
                        </div>
                        <div class="clearfix">
                            <div class="fbctitle1">E</div>
                            <ul class="fblist clearfix" id="E">
                            </ul>
                        </div>
                        <div class="clearfix">
                            <div class="fbctitle1">F</div>
                            <ul class="fblist clearfix" id="F">
                            </ul>
                        </div>
                        <div class="clearfix">
                            <div class="fbctitle1">G</div>
                            <ul class="fblist clearfix" id="G">
                            </ul>
                        </div>
                        <div class="clearfix">
                            <div class="fbctitle1">H</div>
                            <ul class="fblist clearfix" id="H">
                            </ul>
                        </div>
                        <div class="clearfix">
                            <div class="fbctitle1">I</div>
                            <ul class="fblist clearfix" id="I">
                            </ul>
                        </div>
                        <div class="clearfix">
                            <div class="fbctitle1">J</div>
                            <ul class="fblist clearfix" id="J">
                            </ul>
                        </div>
                        <div class="clearfix">
                            <div class="fbctitle1">K</div>
                            <ul class="fblist clearfix" id="K">
                            </ul>
                        </div>
                        <div class="clearfix">
                            <div class="fbctitle1">L</div>
                            <ul class="fblist clearfix" id="L">
                            </ul>
                        </div>
                        <div class="clearfix">
                            <div class="fbctitle1">M</div>
                            <ul class="fblist clearfix" id="M">
                            </ul>
                        </div>
                        <div class="clearfix">
                            <div class="fbctitle1">N</div>
                            <ul class="fblist clearfix" id="N">
                            </ul>
                        </div>
                        <div class="clearfix">
                            <div class="fbctitle1">O</div>
                            <ul class="fblist clearfix" id="O">
                            </ul>
                        </div>
                        <div class="clearfix">
                            <div class="fbctitle1">P</div>
                            <ul class="fblist clearfix" id="P">
                            </ul>
                        </div>
                        <div class="clearfix">
                            <div class="fbctitle1">Q</div>
                            <ul class="fblist clearfix" id="Q">
                            </ul>
                        </div>
                        <div class="clearfix">
                            <div class="fbctitle1">R</div>
                            <ul class="fblist clearfix" id="R">
                            </ul>
                        </div>
                        <div class="clearfix">
                            <div class="fbctitle1">S</div>
                            <ul class="fblist clearfix" id="S">
                            </ul>
                        </div>
                        <div class="clearfix">
                            <div class="fbctitle1">T</div>
                            <ul class="fblist clearfix" id="T">
                            </ul>
                        </div>
                        <div class="clearfix">
                            <div class="fbctitle1">U</div>
                            <ul class="fblist clearfix" id="U">
                            </ul>
                        </div>
                        <div class="clearfix">
                            <div class="fbctitle1">V</div>
                            <ul class="fblist clearfix" id="V">
                            </ul>
                        </div>
                        <div class="clearfix">
                            <div class="fbctitle1">W</div>
                            <ul class="fblist clearfix" id="W">
                            </ul>
                        </div>
                        <div class="clearfix">
                            <div class="fbctitle1">X</div>
                            <ul class="fblist clearfix" id="X">
                            </ul>
                        </div>
                        <div class="clearfix">
                            <div class="fbctitle1">Y</div>
                            <ul class="fblist clearfix" id="Y">
                            </ul>
                        </div>
                        <div class="clearfix">
                            <div class="fbctitle1">Z</div>
                            <ul class="fblist clearfix" id="Z">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--floatbox end--> 
    
      
    </div>
  </div>

  <div class="container">
    <div class="suppbox2">
      <div class="row">
	   <div class="col-md-6 col-md-offset-3">
		<header class="text-center">
		 <h2 class="section-title">The use of<span class="text-theme">&nbsp;the process</span></h2>
		 <!-- <p class="section-subtitle">The use of the process</p> -->
		</header>
	  </div>
    </div>
      <div class="serv_pic"><img src="images/ser01.png" width="100%" /></div>
    </div>
  </div>

  <div class="container">
    <div class="row">
	   <div class="col-md-6 col-md-offset-3">
		<header class="text-center">
		 <h2 class="section-title">We provide<span class="text-theme">&nbsp;the services</span></h2>
		 <!-- <p class="section-subtitle">The services we provide</p> -->
		</header>
	  </div>
    </div>
    <div class="suppbox2 suppbox3">
      <div class="row">
        <div class="col-lg-3 col-sm-3 col-md-3">
          <a href="mail.html"><div class="sup_item">
            <h4 class="sup_itt">Direct Import</h4>
            <img src="images/ser02.png" />
            <a href="mail.html" class="sup_itm">Learn more</a>
          </div></a>
        </div>
        
        <div class="col-lg-3 col-sm-3 col-md-3">
          <a href="bonded.html"><div class="sup_item">
            <h4 class="sup_itt">Bonded Imports</h4>
            <img src="images/ser03.png" />
            <a href="bonded.html" class="sup_itm">Learn more</a>
          </div></a>
        </div>
        
        <div class="col-lg-3 col-sm-3 col-md-3">
          <a href="express.html"><div class="sup_item">
            <h4 class="sup_itt">Express Personal Items</h4>
            <img src="images/ser04.png" />
            <a href="express.html" class="sup_itm">Learn more</a>
          </div></a>
        </div>
        
        <div class="col-lg-3 col-sm-3 col-md-3">
          <a href="e-mail.html"><div class="sup_item">
            <h4 class="sup_itt">Mail Personal Belongings</h4>
            <img src="images/ser05.png" />
            <a href="e-mail.html" class="sup_itm">Learn more</a>
          </div></a>
        </div>
        
      </div>
    </div>
  </div>


</main>
<!-- /Main -->            
              
              
 <script type="text/javascript">
	$(function(){
		// Focus
		$(this).on('keydown', '.family_site a:last', function(event){
			var isShift = window.event.shiftKey ? true : false;		
			
			if( !isShift && event.keyCode == 9){									
				$('.family_site a:first').focus();			
				return false;
			}
		});
			
		$(this).on('keydown', '.family_site a:first', function(event){
			var isShift = window.event.shiftKey ? true : false;		
			if( isShift && event.keyCode == 9){
				setTimeout(function(){				
					$('.family_site a:last').focus();
				},15);
				return false;
			}
		});
		
		// 
		$('.footer_info_wrap .btn_layer').on('click', function(e){
			e.preventDefault();
			var status = $(this).hasClass('on');
			if ( !status ){
				$(this).addClass('on');
				$(this).next().show();		
			}		
		});
		 
		// 
		$('.family_site .btn_close').on('click', function(e){
			e.preventDefault();		
				
			$(this).parent().hide();		
			$('.footer_info_wrap .btn_layer').removeClass('on').focus();
				
		});
	});
	</script>
<style>
.info_box {position:fixed;right:20px;bottom:-360px;z-index:10;}
.info_box * {line-height:20px;}
.info_box.logout #info_footer .today {display:none;}
#info_wrap {position:relative;width:326px;}
#info_wrap .info_close > a {position:absolute;top:24px;right:28px;display:block;width:16px;height:16px;background:url(images/ico_close.png) no-repeat;font-size:0;line-height:0;}
#info_header {background:url(images/img_info_pop01.png) no-repeat;height:59px;}
#info_header h3 {padding:23px 28px;font-size:14px;font-weight:bold;color:#fff;}
#info_content {padding:30px 0 17px;background:url(images/img_info_pop02.png) repeat-y;}
#info_content * {text-align:center;}
#info_content .info_title {margin:12px 0 7px;font-size:16px;font-weight:bold;color:#222;line-height:24px;}
#info_content .info_btn {margin-top:13px;height:27px;}
#info_content .info_btn > a {display:inline-block;height:26px;line-height:26px;padding:0px 14px;border:1px solid #bbb;background:#f9f9f9;color:#444;}
.msie #info_content .info_btn > a {line-height:30px;}
#info_footer {padding:0 9px; background:url(images/img_info_pop03.png) 0 bottom no-repeat;min-height:25px;}
#info_footer .today {position:relative;padding:10px 20px 20px;border-top:1px solid #ebebeb;}
#info_footer .today > a {position:absolute;right:20px;font-weight:bold;color:#444;}
#footer .footer_quick_menu .quick_wrap ul.quick_menu2 li.active a {font-weight:bold;color:#0059a6;}
</style>
          
   <!--include area start -->
   <div id="footerWrap">
        <div id="footer">
          <div class="footer_info_wrap">
            <ul class="footer_info">
                      <li>Add:<span>Rm 1402,Yuanmao Mansion,No.1 Wenerxi Road, Xihu,Hangzhou</span></li>
                      <li>Phone:<span>0571-88890244</span></li>
                      <li>E-mail:<span>business@easytochina.net</span></li>
                    </ul>
            <ul class="sns_wrap">
                      <!--<li class="facebook"><a href="#" target="_blank">QQ</a></li>-->
                      <li class="twitter">
                        <a href="#" target="_blank">Weibo</a>
                        <img src="images/weibo.png" class="erweima" />
                      </li>
                      <li class="blog">
                        <a href="#" target="_blank">Weixin</a>
                        <img src="images/weixin.png" class="erweima2" />
                      </li>
                    </ul>
            <a href="#" class="btn_layer"><img src="images/btn_footer_layer.jpg"/></a>
            <div class="family_site">
               <dl>
                <dt>Cooperative Partner</dt>
                <dd> 
                  <ul>
					<li><a href="#">Tmall</a></li>
					<li><a href="#">Xiao Hong Shu</a></li>
					<li><a href="#">You Zan</a></li>
					<li><a href="#">Dian Dian Duo</a></li>
                    <li><a href="http://www.mttlm.cn/" target="_blank">Ma Tao Tao Hai shopping</a></li>
                    
                  </ul>
                        </dd>
              </dl>
                <dl class="half">
                <dt>Undertakings</dt>
                <dd>
                  <ul>
                    <li><a href="http://www.euchina.eu" target="_blank">Association Europe Chine du Commerce Transfrontalier</a></li>
                    <li><a href="http://www.teams-park.net" target="_blank">Teams park(International entrepreneurial team incubator)</a></li>
                  </ul>
                        </dd>
                <dd>
               </dd>
              </dl>
              
              <dl>
                <dt>Business city system</dt>
                <dd>
                  <ul>
                    <li><a href="http://www.mttlm.com" target="_blank">Ma Tao Tao Hai shopping</a></li>
                    <li><a href="http://www.vixshop.cn" target="_blank">Urban electric business</a></li>
                    <li><a href="http://debug.t-cang.com/vixmall/cloudwarehouse" target="_blank">Cloud storehouse</a></li>
                  </ul>
                 </dd>
           
              </dl>
                      <a href="#" class="btn_close">Close</a> </div>
          </div>
                  <!-- //footer_info_wrap -->
                  
          <div class="footer_quick_menu">
            <div class="footer_logo"><img src="images/ico_footer_logo.png"/></div>
            <div class="quick_wrap">
                      
               <ul class="quick_menu2">
                <li><a href="mail.html">Direct Import</a></li>
                <li><a href="bonded.html">Bonded Imports</a></li>
                <li class="active"><a href="express.html">Express Personal Items</a></li>
                <li><a href="e-mail.html">Mail Personal Belongings</a></li>
                <li><a href="service.html">Supply Chain Service</a></li>
                <li class="active"><a href="http://erpexport.mttlm.com/purchasing/base/register.html" target="_blank">Application In</a></li>
                <li><a href="cloud.html">YunCang Profile</a></li>
                <li><a href="service.html">About Tianzhong</a></li>  
              </ul>
                      <p class="copyright">Copyright © Tianzhong All Rights Reserved&nbsp;&nbsp;Hangzhou Tian Zhong Supply Chain Management Co., Ltd. all rights reserved.&nbsp;&nbsp;Zhejiang ICP prepare No. 15042493 -2</p>
                    </div>
            
          </div>
                </div>
      </div>
      
     </div><!--layerarea结束-->
  </div><!--dvContainer结束-->
	
<!--右侧浮动样式-->
     <div class="float">

        <div class="float_erweima" style="display: none;">
			<p>
				<img src="images/float/erweima2.jpg" alt="">
			</p>
		 </div>

        <ul id="toTopUl">
            <li><a class="flo_1" target="_top" href="javascript:void(0);"><span class="ke_tit">QQ</span></a></li>
            <li><a class="flo_2" href="javascript:void(0);" style="font-size: 12px; width: 70px; opacity: 1;"><span class="ke_tit">Telephone</span><span class="ke_info">0571-88890244</span></a>
			</li>
            
            <li><a class="flo_w" href="javascript:void(0);" onmouseover="showCode();" onmouseout="hideCode();"><span class="ke_tit" style="top: 36px;">Official Accounts</span></a></li>
		 </ul>
        </div>
	  <!--右侧浮动样式-->
	 
 </div>
	
</body>
<!--右侧浮动js-->
<script type="text/javascript">

        opentop();
        function opentop(){
            var topTop = "<li id = 'addtotop'><a class = 'flo_4' style = 'cursor: pointer;'><span class='ke_tit'>Return</span></a></li>"
            $(window).bind('scroll' ,function(event){
                var topHeight = $(document).scrollTop();
                if(topHeight >= 200){
                    if($("#toTopUl").find("#addtotop").length == 0){
                        $("#toTopUl").append(topTop);
                        addtotop();
                    }else{
                        return;
                    }
                }else{
                    $("#toTopUl li:eq(3)").remove();
                }
            });
        }
        function addtotop(){
            $("#addtotop").bind('click',function(){
                $("#toTopUl li:eq(3)").remove();
                $(window).unbind();
                $('html, body').animate({scrollTop:0}, '1000');
                setTimeout('opentop()',500);
            });
        }

        function showCode(){
            $(".float_erweima").show();
            
        }
        function hideCode(){
            $(".float_erweima").hide();
            $(".float_erweima").css("background","");
        }
               
        $(function () {
            $('#toTopUl > li').hover(function () {
                $(this).find('.flo_2').stop().animate({"width": "180px"}, 200).css({
                    "opacity": "1",
                    "filter": "Alpha(opacity=100)",
                    "background-position": "15px 6px",
                });
            }, function () {
                $(this).find('.flo_2').stop().animate({"width": "70px"}, 200).css({
                    "opacity": "1",
                    "filter": "Alpha(opacity=100)",
                    "background-position": "center 6px",
                });
            });
        });
</script>
<!--右侧浮动js-->
<script language="JavaScript">
$(window).load(function(){
	//二级导航
	$('.navright>ul>li').hover(function(){
	$(this).find('ul').stop(true).slideDown(600);
	},function(){
		$(this).find('ul').stop(true).slideUp(600);
		})

})

</script>
<script type="text/javascript">
    $(document).ready(function() {
       $(".fbt").css("top", "50%");
   // $(".fbt").css("left", left);
        $("#TargetCountry").click(function() {
            $(".fb_1").fadeIn();
        })
        $(".boxcolse,.colsebox").click(function() {
            $(".floatbox,.floatbox1,.floatbox2,.fb_1").fadeOut();
        })
        $(".fbtitle1 a").each(function(i) {
            //alert("aaa");
            $(this).click(function() {
                $(".tabcon >div").eq(i).show().siblings().hide();
            })
        })
    })
var start=0;
var currentindex=1;
$("#flashBg").css("background-color",$("#flash1").attr("name"));
$("#flash a:eq(0)").show();
var num=$("#flash a").length;
function changeflash(i) {	
currentindex=i;
for (j=1;j<=num;j++){
	if (j==i) 
	{
	start=1;
	$("#flash"+j).fadeIn("normal");
	$("#flash"+j).css("display","block");
	$("#f"+j).removeClass();
	$("#f"+j).addClass("dq");
	$("#flashBg").css("background-color",$("#flash"+j).attr("name"));
	}
	else
	{$("#flash"+j).css("display","none");
	$("#f"+j).removeClass();
	$("#f"+j).addClass("no");}
}}
function startAm(){
if(start==0){
    $("#flashBg").css("background-color",$("#flash1").attr("name"));
    $("#flash a:eq(0)").show().siblings("a").hide();
} 
timerID = setInterval("timer_tick()",3000);
}
function stopAm(){
clearInterval(timerID);
}
function timer_tick() {

    currentindex=currentindex>=num?1:currentindex+1;
	changeflash(currentindex);}
$(document).ready(function(){
$(".header").addClass("borderbottom");
tab.tabControler($(".feeboxtitle >a"),$(".feeboxcon >div"),"current");
$(".flash_bar div").mouseover(function(){stopAm();}).mouseout(function(){startAm();});
startAm();
});
</script>
    <script type="text/javascript">
        function Check() 
        {
            var tt = $.trim($("#txtOrderNo").val());
            var flag = true;
            if (tt == "" || tt == "请输入订单号或追踪号...") 
            {
               // $("#txtOrderNo").val("请输入订单号或追踪号...");
 window.location.href = "/Manage/WebManage/Inquire.aspx?txtID=No";
                flag = false;
            }
            else 
            {
                flag = true;
            }
            return flag;
        }
 function Check_price()
        {
            var TargetCountry = $.trim($("#TargetCountry").val());
            var txtStage = $.trim($("#txtStage").val());
             if (TargetCountry == ""||TargetCountry == "请选择") {
                alert("请输入目的地！");
                return  false;
            }
            if (txtStage == "")
            {
                alert("请输入重量！");
                 return false;
            }
            return true;
        }
    </script>
    <script type="text/javascript">
        function GetFocus() 
        {
            var tt = $.trim($("#txtOrderNo").val());
            if (tt == "请输入订单号或追踪号...") 
            {
                $("#txtOrderNo").val("");
            }
        }
        function LFocus() 
        {
            var tt = $.trim($("#txtOrderNo").val());
            if (tt == "请输入订单号或追踪号..." || tt == "") 
            {
                $("#txtOrderNo").val("请输入订单号或追踪号...");
            }
        }
</script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".fblist a").live("click", function () {
                var text = $(this).text();
                var title = $(this).attr("title");
                $(".showfb").val(text);
$("#TargetCountry").val(text);
                $("#HiValue").val(title);
                $(".fb_1").fadeOut();
            });
            GetCountry();
        });
</script>
    <script type ="text/javascript">
        function GetCountry() {    
        $.ajax({
            type: "POST",
            async: false,
            url: "Manage/WebManage/Ashx/GetCountry.ashx",
            data: { Flag: "GetCounrty", Condition: "" },
            dataType: "json",
            success: function(result) {
                if (result.Error == false) {
                    var con = result.Counrty.length;
                    for (var i = 0; i < con; i++) {
                        var CountryId = result.Counrty[i].CountryId;
                        var CnName = result.Counrty[i].CnName;
                        var EnName = result.Counrty[i].EnName;
                        var ShortName = result.Counrty[i].ShortName;
                        var Common = result.Counrty[i].Common
                        var FirstLetter = EnName.substr(0, 1);
                        if (Common == "1") {
                            $("#CommonCountry").append("<li><a href=\"javascript:;\" title=\"" + CountryId + "\">" + CnName + "(" + EnName + ")</a></li>");
                        }
                        if ($("#" + FirstLetter).length > 0) {
                            $("#" + FirstLetter).append("<li><a href=\"javascript:;\" title=\"" + CountryId + "\">" + CnName + "-" + EnName + "</a></li>");
                        }
                    }
                }
                else {
                    alert("无国家信息!");
                }
            },
  
            error: function() {
 document.getElementById("alink").click(); 
//location.reload();
               // alert("加载国家信息失败!");
			
            }
        });
    }
</script>
    <script type ="text/javascript">
        function SearchCountry() {
            //alert("aaa");
        var txt = $.trim($("#Content").val());
        if (txt != "") {
            $.ajax({
                type: "POST",
                async: true,
                url: "Manage/WebManage/Ashx/GetCountry.ashx",
                data: { Flag: "SearchCountry", Condition: txt },
                dataType: "json",
                success: function(result) {
                    $("#SearchRes").html("");
                    if (result.Error == false) {
                        var con = result.Counrty.length;

                        for (var i = 0; i < con; i++) {
                            var CountryId = result.Counrty[i].CountryId;
                            var CnName = result.Counrty[i].CnName;
                            var EnName = result.Counrty[i].EnName;
                            //var ShortName = result.Counrty[i].ShortName;
                            //var Common = result.Counrty[i].Common
                            //var FirstLetter = EnName.substr(0, 1);
                            $("#SearchRes").append("<li><a href=\"javascript:;\" title=\"" + CountryId + "\">" + CnName + "-" + EnName + "</a></li>");
                        }
                    }
                    $("#Search").css("display", "block");
                    $("#SearchRes").css("display", "block");
                },
                error: function() {
                    alert("加载国家信息失败!");
                }
            });
        } else {
            $("#SearchRes").html("");
        }
        }
        function Lreload(lang) {
            //document.cookie = "language=" + lang;
            $("#OrderHeader1_HiddenField1").val(lang);
            document.getElementById("OrderHeader1_Button1").click();
            window.location.href = "default.aspx";
            //this.location.reload();
            //var strlang = document.cookie;
            // parent.MainFrame.location.reload();
        }
</script>
</html>