<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
<meta http-equiv="cache-control" content="no-store" />
<title>Tianzhong International-Supply Chain Service</title>
<link rel="shortcut icon" href="images/logo.ico" />
<link rel="stylesheet" type="text/css" href="css/cm.import.css" />
<link rel="stylesheet" type="text/css" href="css/cm.main.css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../../../../../public/static/home/js/city.js"></script>
    <script type="text/javascript" src="../../../../../public/static/home/js/countryData_v2.js"></script>

</head>
<body>

<div id="wrap" class="main">
  <div id="dvContainer">   
  <script type="text/javascript" src="js/cm.GNB.ui.js"></script> 
    <div id="headerWrap">
      <div id="header">
        <div id="util_wrap"> 
          <a href="index.html"><img src="images/img_logo.jpg" alt="" /></a>
          <div id="util" class="navright">
           <ul class="quick_menu">
              <li><a href="service.html">About Tianzhong</a></li>
              <li><a href="pfcexpress.html">Supply Chain Service</a>
                <ul>
                   <li><a href="mail.html">Direct Import</a></li>
                   <li><a href="bonded.html">Bonded Imports</a></li>
                   <li><a href="express.html">Express Personal Items</a></li>
                   <li><a href="e-mail.html">Mail Personal Belongings</a></li>
                   <li><a href="pricequery.html">Express Freight Inquiry</a></li>
                </ul>
              </li>
              <li><a href="cloud.html">YunCang Profile</a></li>
              <li><a href="http://erpexport.mttlm.com/purchasing/base/register.html" target="_blank">Application In</a></li>
              <li><a href="http://erpexport.mttlm.com/purchasing/base/login.html" target="_blank">YunCang Login</a></li>
               <li><a href="query.html">Express Inquiry</a></li>

           </ul>
          </div>
          <ul class="conn_language">
            <li><img src="images/linkmap.jpg"></li> 
            <li><a href="../index.html"><img src="images/linkdot2.jpg" align="middle" onmouseover="this.src='images/linkdot1-2.jpg'" onmouseout="this.src='images/linkdot2.jpg'"></a></li>
            <li><a href="index.html"><img src="images/linkdot1.png" align="middle" onmouseover="this.src='images/linkdot1-1.jpg'" onmouseout="this.src='images/linkdot1.png'"></a></li>
            <div class="clear"></div>
          </ul>
        </div>
      </div>
    </div><!--header结束-->
   
   <div class="bann">
     <img src="images/ser01.jpg" width="100%" />
     
   </div>
   
    <div id="layerarea">
     <div class="cloud_warp">
     
      <div class="network_twarp">
         <h3>Freight<span>&nbsp;inquiries</span></h3>
         <!-- <p>Freight inquiries</p> -->
       </div>
       
       <div class="listbd">
    

    <div class="listcontent price_warp">
        <div class="pricequer_search">
            <ul>
                <li>
                    <span class="price">始发地：</span>
                    <select class="input1 w200 price_sel" id="StartProvince" name="StartProvince" ></select>
                    <select class="input1 w200 ml10 price_sel" id="StartCity" name="StartCity"> </select>
                    <select class="input1 w200 ml10 price_sel" id="StartDistrict" name="StartDistrict"> </select>
                    <div id="show"></div>

                </li>
                <li>
                    <span class="price">目的地：</span>
                    <select class="input1 w200 price_sel" id="TargetCountry" name="TargetCountry">
                    </select>

                    <input class="input1 w200 ml10 price_sel" id="TargetAddress"  name="TargetAddress"  placeholder="详细地址">

                </li>

                <li><span class="price">邮政编码：</span>
                    <input type="text"  autocomplete="off" id="PostCode" class="input2 w200 price_inp"></li>

                <li><span class="price">物品重量：</span><input id="weight" type="text" maxlength="3" autocomplete="off" class="input2 w200 price_inp">
                    公斤</li>
                <li><span class="price">物品体积：</span><input id="length" type="text" maxlength="3" autocomplete="off" class="input2 w100 price_inp">
                    长（CM）<input id="width" type="text" maxlength="3" autocomplete="off" class="input2 w100 ml10 price_inp">
                    宽（CM）<input id="height" type="text" maxlength="3" autocomplete="off" class="input2 w100 ml10 price_inp">
                    高（CM）
                </li>
                <li> <input id="priceSearch" type="button" class="orangebutton ml80 price_but" value="开始查询"/></li>
            </ul>
        </div>


        <div class="pricequer_result">
            <div class="content-has-result"> 已为您查询到以下快递产品： </div>
            <div class="e-content">
                <div class="result-title">
                    <div style="width:20%;">产品名称</div>
                    <div style="width:20%;">出发地</div>
                    <div style="width:20%;">目的地</div>
                    <div style="width:20%;">预计时效(工作日)</div>
                    <div style="width:20%;">预估运费(人民币)</div>
                </div>
                <div class="result-table-box">
                    <ul id="result">
                        <li>
                            <div lass="result-table table-active">
                                <a href="javascript:setResultLi(0)"><div class="e-i-head">
                                    <div style="width:20%;">DHL-Worldwide</div>
                                    <div style="width:20%;">上海</div>
                                    <div style="width:20%;">委内瑞拉</div>
                                    <div style="width:20%;">6-8</div>
                                    <div style="width:20%;">550.82 元</div>
                                </div></a>

                                <div class="result-expand">
                                    <h3>计费明细</h3>
                                    <table class="e-payinfo">
                                        <thead>
                                        <tr>
                                            <th width="20%">重量区间(kg)</th>
                                            <th width="15%">首重(kg)</th>
                                            <th width="20%">首重费</th>
                                            <th width="15%">续重(kg)</th>
                                            <th width="15%">续重费(¥)</th>
                                            <th width="15%">体积系数</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>4.5 - 5</td>
                                            <td>5</td>
                                            <td>550.82</td>
                                            <td>0</td>
                                            <td>-</td>
                                            <td>5000</td>
                                        </tr>
                                        <tr>
                                            <td>5 - 5.5</td>
                                            <td>5.5</td>
                                            <td>590.95</td>
                                            <td>0</td>
                                            <td>-</td>
                                            <td>5000</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="e-paynormal">
                                        <thead>
                                        <tr>
                                            <th width="20%">体积重量(kg)</th>
                                            <th width="15%">计费重量(kg)</th>
                                            <th><b>基础运费预估</b></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>(长*宽*高)/6000= <span>0.20</span></td>
                                            <td>5</td>
                                            <td><b>550.82+0/0*0.00=550.82</b></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!---->
                                    <div class="table-inner-tip">注意：实际运费受客户出货量、品类、附加费等相关因素影响，详情欢迎拨打我们的热线电话<span class="red">0571-88890244 转 8005</span>或咨询您当地的销售代表！</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="result-table">
                                <a href="javascript:setResultLi(1)"><div class="e-i-head">
                                    <div style="width:20%;">DHL-Worldwide-重货</div>
                                    <div style="width:20%;">上海</div>
                                    <div style="width:20%;">委内瑞拉</div>
                                    <div style="width:20%;">4-6</div>
                                    <div style="width:20%;">- 元</div>
                                </div></a>
                                <div class="result-expand">
                                    <h3>计费明细</h3>
                                    <table class="e-payinfo">
                                        <thead>
                                        <tr>
                                            <th width="20%;">重量区间(kg)</th>
                                            <th width="15%;">首重(kg)</th>
                                            <th width="20%;">首重费</th>
                                            <th width="15%;">续重(kg)</th>
                                            <th width="15%;">续重费(¥)</th>
                                            <th width="15%;">体积系数</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                    <table class="e-paynormal">
                                        <thead>
                                        <tr>
                                            <th width="20%">体积重量(kg)</th>
                                            <th width="15%">计费重量(kg)</th>
                                            <th><b>基础运费预估</b></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>(长*宽*高)/6000= <span>0.20</span></td>
                                            <td>5</td>
                                            <td><b></b></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="table-inner-tip">注意：实际运费受客户出货量、品类、附加费等相关因素影响，详情欢迎拨打我们的热线电话<span class="red">0571-88890244 转 8005</span>或咨询您当地的销售代表！</div>
                                </div>

                            </div>
                        </li>

                    </ul>
                </div>
            </div>

        </div>

        <div class="pricequer_tip">
            *寄送<span class="blue">大宗货物</span>或<span class="blue">特别要求的货物</span>，请联系客服<span class="red">0571 88890244</span>咨询定制寄送服务。
        </div>
    </div>



    <div id="s_r" class="mt20 tc"></div>

    <div class="ps textareas">
        <h3>Comment</h3>
        <ul>
            <li>1.This quote weight is processed in 1-bit.</li>
            <li>2.This quotation is for guidance only for reference. For details, please contact Zhongtongtong's local business outlets. [<a href="/GuestService/SiteQuery">Dot distribution</a>]</li>
            <li>3.Volume Weight: If you don't know the weight, enter the length, width and height calculations. (Note: According to the International Air Transport Association (IATA) regulations, the billable weight of light towing goods is calculated according to the length of the goods × height × width (CM) ÷ 6000 (irregular goods, including cones, cylindrical objects, calculated according to the rectangular parallelepiped, long Multiplying the maximum size in the three directions of width and height.) The non-aviation light billing weight is calculated by halving the weight of the same volume of aviation parts. The calculation results are for reference only!)</li>
        </ul>
    </div>
    <div class="clearfix mt20">
    </div>
</div>


       
       
      </div>
              
              
 <script type="text/javascript">
	$(function(){
		// Focus
		$(this).on('keydown', '.family_site a:last', function(event){
			var isShift = window.event.shiftKey ? true : false;		
			
			if( !isShift && event.keyCode == 9){									
				$('.family_site a:first').focus();			
				return false;
			}
		});
			
		$(this).on('keydown', '.family_site a:first', function(event){
			var isShift = window.event.shiftKey ? true : false;		
			if( isShift && event.keyCode == 9){
				setTimeout(function(){				
					$('.family_site a:last').focus();
				},15);
				return false;
			}
		});
		
		// 
		$('.footer_info_wrap .btn_layer').on('click', function(e){
			e.preventDefault();
			var status = $(this).hasClass('on');
			if ( !status ){
				$(this).addClass('on');
				$(this).next().show();		
			}		
		});
		 
		// 
		$('.family_site .btn_close').on('click', function(e){
			e.preventDefault();		
				
			$(this).parent().hide();		
			$('.footer_info_wrap .btn_layer').removeClass('on').focus();
				
		});
	});
	</script>
<style>
.info_box {position:fixed;right:20px;bottom:-360px;z-index:10;}
.info_box * {line-height:20px;}
.info_box.logout #info_footer .today {display:none;}
#info_wrap {position:relative;width:326px;}
#info_wrap .info_close > a {position:absolute;top:24px;right:28px;display:block;width:16px;height:16px;background:url(images/ico_close.png) no-repeat;font-size:0;line-height:0;}
#info_header {background:url(images/img_info_pop01.png) no-repeat;height:59px;}
#info_header h3 {padding:23px 28px;font-size:14px;font-weight:bold;color:#fff;}
#info_content {padding:30px 0 17px;background:url(images/img_info_pop02.png) repeat-y;}
#info_content * {text-align:center;}
#info_content .info_title {margin:12px 0 7px;font-size:16px;font-weight:bold;color:#222;line-height:24px;}
#info_content .info_btn {margin-top:13px;height:27px;}
#info_content .info_btn > a {display:inline-block;height:26px;line-height:26px;padding:0px 14px;border:1px solid #bbb;background:#f9f9f9;color:#444;}
.msie #info_content .info_btn > a {line-height:30px;}
#info_footer {padding:0 9px; background:url(images/img_info_pop03.png) 0 bottom no-repeat;min-height:25px;}
#info_footer .today {position:relative;padding:10px 20px 20px;border-top:1px solid #ebebeb;}
#info_footer .today > a {position:absolute;right:20px;font-weight:bold;color:#444;}
#footer .footer_quick_menu .quick_wrap ul.quick_menu2 li.active a {font-weight:bold;color:#0059a6;}
</style>
          
   <!--include area start -->
   <div id="footerWrap">
        <div id="footer">
          <div class="footer_info_wrap">
            <ul class="footer_info">
                      <li>Add:<span>Rm 1402,Yuanmao Mansion,No.1 Wenerxi Road, Xihu,Hangzhou</span></li>
                      <li>Phone:<span>0571-88890244</span></li>
                      <li>E-mail:<span>business@easytochina.net</span></li>
                    </ul>
            <ul class="sns_wrap">
                      <!--<li class="facebook"><a href="#" target="_blank">QQ</a></li>-->
                      <li class="twitter">
                        <a href="#" target="_blank">Weibo</a>
                        <img src="images/weibo.png" class="erweima" />
                      </li>
                      <li class="blog">
                        <a href="#" target="_blank">Weixin</a>
                        <img src="images/weixin.png" class="erweima2" />
                      </li>
                    </ul>
            <a href="#" class="btn_layer"><img src="images/btn_footer_layer.jpg"/></a>
            <div class="family_site">
               <dl>
                <dt>Cooperative Partner</dt>
                <dd> 
                  <ul>
					<li><a href="#">Tmall</a></li>
					<li><a href="#">Xiao Hong Shu</a></li>
					<li><a href="#">You Zan</a></li>
					<li><a href="#">Dian Dian Duo</a></li>
                    <li><a href="http://www.mttlm.cn/" target="_blank">Ma Tao Tao Hai shopping</a></li>
                    
                  </ul>
                        </dd>
              </dl>
                <dl class="half">
                <dt>Undertakings</dt>
                <dd>
                  <ul>
                    <li><a href="http://www.euchina.eu" target="_blank">Association Europe Chine du Commerce Transfrontalier</a></li>
                    <li><a href="http://www.teams-park.net" target="_blank">Teams park(International entrepreneurial team incubator)</a></li>
                  </ul>
                        </dd>
                <dd>
               </dd>
              </dl>
              
              <dl>
                <dt>Business city system</dt>
                <dd>
                  <ul>
                    <li><a href="http://www.mttlm.com" target="_blank">Ma Tao Tao Hai shopping</a></li>
                    <li><a href="http://www.vixshop.cn" target="_blank">Urban electric business</a></li>
                    <li><a href="http://debug.t-cang.com/vixmall/cloudwarehouse" target="_blank">Cloud storehouse</a></li>
                  </ul>
                 </dd>
           
              </dl>
                      <a href="#" class="btn_close">Close</a> </div>
          </div>
                  <!-- //footer_info_wrap -->
                  
          <div class="footer_quick_menu">
            <div class="footer_logo"><img src="images/ico_footer_logo.png"/></div>
            <div class="quick_wrap">
                      
               <ul class="quick_menu2">
                <li><a href="mail.html">Direct Import</a></li>
                <li><a href="bonded.html">Bonded Imports</a></li>
                <li class="active"><a href="express.html">Express Personal Items</a></li>
                <li><a href="e-mail.html">Mail Personal Belongings</a></li>
                <li><a href="service.html">Supply Chain Service</a></li>
                <li class="active"><a href="http://erpexport.mttlm.com/purchasing/base/register.html" target="_blank">Application In</a></li>
                <li><a href="cloud.html">YunCang Profile</a></li>
                <li><a href="service.html">About Tianzhong</a></li>  
              </ul>
                      <p class="copyright">Copyright © Tianzhong All Rights Reserved&nbsp;&nbsp;Hangzhou Tian Zhong Supply Chain Management Co., Ltd. all rights reserved.&nbsp;&nbsp;Zhejiang ICP prepare No. 15042493 -2</p>
                    </div>
            
          </div>
                </div>
      </div>
      
     </div><!--layerarea结束-->
  </div><!--dvContainer结束-->
	
<!--右侧浮动样式-->
     <div class="float">

        <div class="float_erweima" style="display: none;">
			<p>
				<img src="images/float/erweima2.jpg" alt="">
			</p>
		 </div>

        <ul id="toTopUl">
            <li><a class="flo_1" target="_top" href="javascript:void(0);"><span class="ke_tit">QQ</span></a></li>
            <li><a class="flo_2" href="javascript:void(0);" style="font-size: 12px; width: 70px; opacity: 1;"><span class="ke_tit">Telephone</span><span class="ke_info">0571-88890244</span></a>
			</li>
            
            <li><a class="flo_w" href="javascript:void(0);" onmouseover="showCode();" onmouseout="hideCode();"><span class="ke_tit" style="top: 36px;">Official Accounts</span></a></li>
		 </ul>
        </div>
	  <!--右侧浮动样式-->
	 
 </div>
	
</body>
<!--右侧浮动js-->
<script type="text/javascript">



        let TargetCountry = $("#TargetCountry");
    for(var i=0;i < country_data.length;i++){
        let str = '<option value="'+country_data[i].code+'">'+country_data[i].name+'</option>';
        TargetCountry.append(str);
    }



    $(document).ready(function(){

        $(".orangebutton").click(function(){
            //获取参数

            var data = {
                c_country : "CN",
                c_state :$("#StartProvince").val(),
                c_city :$("#StartCity").val(),
                c_area:$("#StartDistrict").val(),
                m_country:$("#TargetCountry").val(),
                // m_state:m_state,
                // m_city:m_city,
                // m_area:m_area,
                // amount:amount,
                // sku:sku,
                m_address:$("#TargetAddress").val(),
                post_code:$("#PostCode").val(),
                length:$("#length").val(),
                width:$("#width").val(),
                height:$("#height").val(),
                weight:$("#weight").val(),
            };

            for (let i in data) {
                if(!data[i]) {alert('请填写完整参数后，再进行查询！'); return false;}
            }
            // console.log(data);


            $("#result").empty();

            //调用接口
            $.post('/GetPrice.php', data, function (res) {
                res = eval('(' + res + ')');
                console.log(res);

                if(res.data && res.data.length === 0){
                    alert('未查询到结果');
                    return false;
                }
                str = '';

                for(var i in res.data) {
                    let list = res.data[i];

                    let type = list.fee_type;

                    if(!list.arrived_time){
                        list.arrived_time = '-';
                    }
                    if(!list.vol_coe){
                        list.vol_coe = '-';
                    }
                    if(type === 1 || type === 3) {
                        str += '<li>\n' +
                            '\t\t\t\t\t  <div lass="result-table table-active">\n' +
                            '\t\t\t\t\t\t<a href="javascript:setResultLi(' + i + ')"><div class="e-i-head">\n' +
                            '\t\t\t\t\t\t  <div style="width:20%;">' + list.dline_nick_name + '</div>\n' +
                            '\t\t\t\t\t\t  <div style="width:20%;">' + data.c_state + '</div>\n' +
                            '\t\t\t\t\t\t  <div style="width:20%;">' + $("#TargetCountry").find('option:selected').text() + '</div>\n' +
                            '\t\t\t\t\t\t  <div style="width:20%;">'+list.arrived_time+'</div>\n' +
                            '\t\t\t\t\t\t  <div style="width:20%;">￥' + list.delivery_fee + '</div>\n' +
                            '\t\t\t\t\t\t</div></a>\n' +
                            '\n' +
                            '\t\t\t\t\t\t<div class="result-expand">\n' +
                            '\t\t\t\t\t\t  <h3>计费明细</h3>\n' +
                            '\t\t\t\t\t\t  <table class="e-payinfo">\n' +
                            '\t\t\t\t\t\t\t<thead>\n' +
                            '\t\t\t\t\t\t\t  <tr>\n' +
                            '\t\t\t\t\t\t\t\t<th width="15%">首重(kg)</th>\n' +
                            '\t\t\t\t\t\t\t\t<th width="20%">首重费</th>\n' +
                            '\t\t\t\t\t\t\t\t<th width="15%">续重(kg)</th>\n' +
                            '\t\t\t\t\t\t\t\t<th width="15%">续重费(¥)</th>\n' +
                            '\t\t\t\t\t\t\t\t<th width="15%">体积系数</th>\n' +
                            '\t\t\t\t\t\t\t  </tr>\n' +
                            '\t\t\t\t\t\t\t</thead>\n' +
                            '\t\t\t\t\t\t\t<tbody>\n' +
                            '\t\t\t\t\t\t\t  <tr>\n' +
                            '\t\t\t\t\t\t\t\t<td>'+list.first_weight+'</td>\n' +
                            '\t\t\t\t\t\t\t\t<td>'+list.first_price+'</td>\n' +
                            '\t\t\t\t\t\t\t\t<td>'+list.step_weight+'</td>\n' +
                            '\t\t\t\t\t\t\t\t<td>'+list.step_price+'</td>\n' +
                            '\t\t\t\t\t\t\t\t<td>'+list.vol_coe+'</td>\n' +
                            '\t\t\t\t\t\t\t  </tr>\n' +

                            '\t\t\t\t\t\t\t</tbody>\n' +
                            '\t\t\t\t\t\t  </table>\n' +

                            '\t\t\t\t\t\t  <!---->\n' +
                            '\t\t\t\t\t\t  <div class="table-inner-tip">注意：实际运费受客户出货量、品类、附加费等相关因素影响，详情欢迎拨打我们的热线电话<span class="red">0571-88890244 转 8005</span>或咨询您当地的销售代表！</div>\n' +
                            '\t\t\t\t\t\t</div>\n' +
                            '\t\t\t\t\t   </div>\n' +
                            '\t\t\t\t\t</li>';
                    }else if(type === 2 || type === 4){
                        str += '<li>\n' +
                            '\t\t\t\t\t  <div lass="result-table table-active">\n' +
                            '\t\t\t\t\t\t<a href="javascript:setResultLi(' + i + ')"><div class="e-i-head">\n' +
                            '\t\t\t\t\t\t  <div style="width:20%;">' + list.dline_nick_name + '</div>\n' +
                            '\t\t\t\t\t\t  <div style="width:20%;">' + data.c_state + '</div>\n' +
                            '\t\t\t\t\t\t  <div style="width:20%;">' + $("#TargetCountry").find('option:selected').text() + '</div>\n' +
                            '\t\t\t\t\t\t  <div style="width:20%;">'+list.arrived_time+'</div>\n' +
                            '\t\t\t\t\t\t  <div style="width:20%;">￥' + list.delivery_fee + '</div>\n' +
                            '\t\t\t\t\t\t</div></a>\n' +
                            '\n' +
                            '\t\t\t\t\t\t<div class="result-expand">\n' +
                            '\t\t\t\t\t\t  <h3>计费明细</h3>\n' +
                            '\t\t\t\t\t\t  <table class="e-payinfo">\n' +
                            '\t\t\t\t\t\t\t<thead>\n' +
                            '\t\t\t\t\t\t\t  <tr>\n' +
                            '\t\t\t\t\t\t\t\t<th width="15%">重量段(kg)</th>\n' +
                            '\t\t\t\t\t\t\t\t<th width="20%">重量系数</th>\n' +
                            '\t\t\t\t\t\t\t\t<th width="15%">处理费</th>\n' +
                            '\t\t\t\t\t\t\t\t<th width="15%">体积系数</th>\n' +
                            '\t\t\t\t\t\t\t  </tr>\n' +
                            '\t\t\t\t\t\t\t</thead>\n' +
                            '\t\t\t\t\t\t\t<tbody>\n' +
                            '\t\t\t\t\t\t\t  <tr>\n' +
                            '\t\t\t\t\t\t\t\t<td>'+list.cost_weight+'</td>\n' +
                            '\t\t\t\t\t\t\t\t<td>'+list.cost_coe+'</td>\n' +
                            '\t\t\t\t\t\t\t\t<td>'+list.option_fee+'</td>\n' +
                            '\t\t\t\t\t\t\t\t<td>'+list.vol_coe+'</td>\n' +
                            '\t\t\t\t\t\t\t  </tr>\n' +
                            '\t\t\t\t\t\t\t</tbody>\n' +
                            '\t\t\t\t\t\t  </table>\n' +
                            '\t\t\t\t\t\t  <!---->\n' +
                            '\t\t\t\t\t\t  <div class="table-inner-tip">注意：实际运费受客户出货量、品类、附加费等相关因素影响，详情欢迎拨打我们的热线电话<span class="red">0571-88890244 转 8005</span>或咨询您当地的销售代表！</div>\n' +
                            '\t\t\t\t\t\t</div>\n' +
                            '\t\t\t\t\t   </div>\n' +
                            '\t\t\t\t\t</li>';
                    }

                }
                $("#result").append(str);
                $(".pricequer_result").show(500);
            });
            // return false;



        });
    });


    function setResultLi(n)
    {
        $(".result-table-box ul li").find(".result-expand").stop().slideUp()
        if($(".result-table-box ul li").eq(n).find(".result-expand").css("display") == "none")
        {
            $(".result-table-box ul li").eq(n).find(".result-expand").slideDown();
            $(".result-table-box ul li").eq(n).find(".result-expand").addClass("table-active");
        }
        else
        {
            $(".result-table-box ul li").eq(n).find(".result-expand").slideUp();
            $(".result-table-box ul li").eq(n).find(".result-expand").removeClass("table-active");
        }
    }

</script>
<!--右侧浮动js-->
<script language="JavaScript">
$(window).load(function(){
	//二级导航
	$('.navright>ul>li').hover(function(){
	$(this).find('ul').stop(true).slideDown(600);
	},function(){
		$(this).find('ul').stop(true).slideUp(600);
		})

})

</script>
</html>