<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="shortcut icon" type="image/png" href="/imgs/favicon.png" /> -->
    <title>Form wWizard - MegaDin</title>

    <!-- inject:css -->
    <link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/bower_components/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="__PUBLIC__/bower_components/weather-icons/css/weather-icons.min.css">
    <link rel="stylesheet" href="__PUBLIC__/bower_components/themify-icons/css/themify-icons.css">
    <!-- endinject -->

    <!-- jQuery Steps Dependencies -->
    <link rel="stylesheet" href="__PUBLIC__/bower_components/jquery.steps/demo/css/jquery.steps.css">

    <!-- Main Style  -->
    <link rel="stylesheet" href="__PUBLIC__/dist/css/main.css">

    <script src="__PUBLIC__/assets/js/modernizr-custom.js"></script>
</head>
<body>
<div class="ui-content-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <form id="step-advanced-form" action="#" class="wizard-long">
                    <h3>Account</h3>
                    <fieldset>

                        <div class="form-group">
                            <label for="userName-2">账户 *</label>
                            <input id="userName-2" name="userName" type="text" class="form-control required">
                        </div>

                        <div class="form-group">
                            <label for="password-2">密码 *</label>
                            <input id="password-2" name="password" type="password" class="form-control required">
                        </div>

                        <div class="form-group">
                            <label for="confirm-2">确认密码 *</label>
                            <input id="confirm-2" name="confirm" type="password" class="form-control required">
                        </div>
                        <p>(*) Mandatory</p>
                    </fieldset>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- inject:js -->
<script src="__PUBLIC__/bower_components/jquery/dist/jquery.min.js"></script>
<script src="__PUBLIC__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/bower_components/jquery.nicescroll/dist/jquery.nicescroll.min.js"></script>
<script src="__PUBLIC__/bower_components/autosize/dist/autosize.min.js"></script>
<!-- endinject -->

<!-- jQuery Steps Dependencies -->
<script src="__PUBLIC__/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="__PUBLIC__/bower_components/jquery.steps/build/jquery.steps.min.js"></script>
<script src="__PUBLIC__/assets/js/init-jquery.steps.js"></script>

<!-- Common Script   -->
<script src="__PUBLIC__/dist/js/main.js"></script>

</body>
</html>
