{include file="public/header"}
<style>
    .red{
        color: red;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <form class="form-horizontal form-variance" id="step-advanced-form" method="get">
                    <div class="form-group controller">
                        <label class="col-sm-3 control-label red" for="username">账号</label>
                        <div class="col-sm-6">
                            <input class="form-control mb-10 required" id="username" name="username" value="" type="text">
                        </div>
                    </div>
                    <div class="form-group controller">
                        <label class="col-sm-3 control-label red" for="password">密码</label>
                        <div class="col-sm-6">
                            <input class="form-control mb-10 required" id="password" name="password" value="" type="password">
                        </div>
                    </div>
                    <div class="form-group controller">
                        <label class="col-sm-3 control-label red">确认密码</label>
                        <div class="col-sm-6">
                            <input class="form-control mb-10" name="repassword" value="" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label red">手机号码</label>
                        <div class="col-sm-6">
                            <input class="form-control mb-10" name="phone" value="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">性别</label>
                        <div class="col-sm-6">
                            <div class="radio">
                                <label>
                                    <input name="sex" value="1" type="radio" checked>女
                                </label>
                                <label>
                                    <input name="sex" value="0" type="radio">男
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label red">证件号码</label>
                        <div class="col-sm-6">
                            <input class="form-control mb-10" name="id_card" value="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">E-Mail</label>
                        <div class="col-sm-6">
                            <input class="form-control mb-10" name="email" value="" type="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label red">角色</label>
                        <div class="col-sm-6">
                            <select name="role" lay-filter="role" class="form-control mb-10">
                                <option value="">--选择角色--</option>
                                {volist name="role_info" id="item"}
                                <option value="{{$item.id}}">{{$item.role_name}}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-6">
                            <button class="btn btn-info btn-capsul" name="form_do" type="button">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    layui.use(['layer', 'jquery', 'form'], function() {
        var layer = layui.layer, //弹层
            form = layui.form,
            $ = layui.jquery;

        $('button[name=form_do]').click(function () {
            var form = this.form;
            if(form.username.value == ''){
                layer.msg('请输入账号！');
                form.username.focus();
                return false;
            }

            if(form.password.value == ''){
                layer.msg('请输入密码！');
                form.password.focus();
                return false;
            }

            if(form.password.value.length < 8){
                layer.msg('密码长度不能小于8！');
                form.password.focus();
                return false;
            }
            if(form.repassword.value != form.password.value){
                layer.msg('两次输入的密码不一致！');
                form.repassword.focus();
                return false;
            }

            if(form.phone.value ==''){
                layer.msg('手机号必须填写!');
                form.repassword.focus();
                return false;
            }

            if(form.phone.value.length != 11){
                layer.msg('手机号码长度错误');
                form.phone.focus();
                return false;
            }

            if(form.id_card.value == ''){
                layer.msg('证件号码必须填写!');
                form.id_card.focus();
                return false;
            }

            if(form.role.value == ''){
                layer.msg('请选择角色！');
                form.repassword.focus();
                return false;
            }

            var post_data = $("#step-advanced-form").serializeArray();
            $.post("{{:url('add/admin_user_do')}}",post_data,function (msg) {
                if(msg.code == 1){
                    layer.msg(msg.data,{icon:1});
                    setTimeout(function (){
                        parent.location.reload();
                    },800);
                }else{
                    layer.msg(msg.data,{icon:2});
                }
            },'json');
        });
    });
</script>

</html>